<footer>
	<div class="max-width-container">
		<a href="#LINK">
			<img class="logo" src="{{ site.url }}/assets/images/logo_{{ site.title | replace: ' ', '_' | downcase }}.png" alt="Blake Davies Logo"/>
			<p class="logo-name">Blake Davies</p>
		</a>
		<div class="py-40">
			<ul class="flex flex-row justify-around flex-wrap text-center font-primary color-black f-15 no-focus" >
				<div class="line-break-box flex flex-row justify-around flex-grow-1 flex-basis-full py-10">
					<li class="flex-basis-third">
						<a href="#LINK" class="p-12_5 hover-color-primary">Home</a>
					</li>
					<li class="flex-basis-third">
						<a href="#LINK" class="p-12_5 hover-color-primary">About</a>
						<ul class="color-dark-grey f-10 word-spacing-2_5" tabindex="1">
							<li>
								<a href="#LINK" class="p-7_5 hover-color-primary">About Blake Davies</a>
							</li>
							<li>
								<a href="#LINK" class="p-7_5 hover-color-primary">FAQs</a>
							</li>
							<li>
								<a href="#LINK" class="p-7_5 hover-color-primary">Articles</a>
							</li>
						</ul>
					</li>
					<li class="flex-basis-third">
						<a href="#LINK" class="p-12_5 hover-color-primary">Services</a>
						<ul class="color-dark-grey f-10 word-spacing-2_5" tabindex="1">
							<li>
								<a href="#LINK" class="p-7_5 hover-color-primary">Website Design & Hosting</a>
							</li>
							<li>
								<a href="#LINK" class="p-7_5 hover-color-primary">Graphic Design</a>
							</li>
							<li>
								<a href="#LINK" class="p-7_5 hover-color-primary">Professional Email</a>
							</li>
						</ul>
					</li>
				</div>
				<div class="line-break-box flex flex-row justify-around flex-grow-1 flex-basis-full py-10">
					<li class="flex-basis-third">
						<a href="#LINK" class="p-12_5 hover-color-primary">Pricing</a>
					</li>
					<li class="flex-basis-third">
						<a href="#LINK" class="p-12_5 hover-color-primary">Contact</a>
					</li>
					<li class="flex-basis-third">
						<a href="#LINK" class="p-12_5 hover-color-primary">Gallery</a>
					</li>
				</div>
			</ul>
		</div>
		<div class="max-width-container-half">
			<ul class="inline-flex flex-col items-start font-secondary color-black f-15">
				<div class="flex flex-col items-start">
					<li class='p-7_5'>
						<img class="w-auto h-40" src="{{ site.url }}/assets/images/abn_icon.png" alt="Blake Davies ABN"/>
						<p class="pl-5 inline-block v-align-l">90 440 395 198</p>
					</li>
					<li class='p-7_5'>
						<img class="w-auto h-40" src="{{ site.url }}/assets/images/phone_icon.png" alt="Blake Davies Phone"/>
						<p class="pl-5 inline-block v-align-l">0475 065 444</p>
					</li>
					<li class='p-7_5'>
						<img class="w-auto h-40" src="{{ site.url }}/assets/images/email_icon.png" alt="Blake Davies Email"/>
						<p class="pl-5 inline-block v-align-l">blake@blakedavies.net</p>
					</li>
				</div>
				<div class="flex flex-col items-start">
					<li class='p-7_5'>
						<img class="w-auto h-40" src="{{ site.url }}/assets/images/location_icon.png" alt="Blake Davies Location"/>
						<p class="pl-5 inline-block v-align-l">Brisbane QLD</p>
					</li>
					<li class='p-7_5'>
						<img class="w-auto h-40" src="{{ site.url }}/assets/images/info_icon.png" alt="Blake Davies Terms & Conditions"/>
						<p class="pl-5 inline-block v-align-l"><a href="downloads/Terms_and_Conditions_Version_1.4.pdf" download="Terms_and_Conditions_Version_1.4.pdf" class="underline">Terms & Conditions</a></p>
					</li>
					<li class='p-7_5'>
						<img class="w-auto h-40" src="{{ site.url }}/assets/images/alert_icon.png" alt="Blake Davies Privacy Policy"/>
						<p class="pl-5 inline-block v-align-l"><a href="downloads/Privacy_Policy_Version_1.2.pdf" download="Privacy_Policy_Version_1.2.pdf" class="underline">Privacy Policy</a></p>
					</li>
				</div>
			</ul>
		</div>
	</div>
</footer>