<header class="navbar-buttons-simple">
	<div class="max-width-container">
		<div class="flex flex-row justify-between items-end">
			<a href="#LINK">
				<img class="logo" src="{{ site.url }}/assets/images/logo_{{ site.title | replace: ' ', '_' | downcase }}.png" alt="{{ site.title }} Logo"/>
				<p class="logo-name">{{ site.title }}</p>
			</a>
			<nav class="navbar-static">
				<ul class="flex flex-row items-end">
				{% for item in site.menus.navbar %}
				  <li class="menu-item-{{ loop.index }}">
				    <a {% if item.children %}class="submenu-trigger"{% endif %} href="{{ item.url }}">{{ item.title }}</a>
				    {% if item.children %}
				    	<ul class="submenu">
			    		{% for item in item.children %}
			    			<li class="menu-item-{{ loop.index }}">
			    				<a {% if item.children %}class="subsubmenu-trigger"{% endif %} href="{{ item.url }}">{{ item.title }}</a>
	    					    {% if item.children %}
	    					    	<ul class="subsubmenu">
	    				    		{% for item in item.children %}
	    				    			<li class="menu-item-{{ loop.index }}">
	    				    				<a href="{{ item.url }}">{{ item.title }}</a>
	    				    			</li>
	    				    		{% endfor %}
	    				    		</ul>
	    				    	{% endif %}
			    			</li>
			    		{% endfor %}
			    		</ul>
			    	{% endif %}
				  </li>
				{% endfor %}
				</ul>
			</nav>			
			<div class="menu-icon hamburger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="navbar-slider text-center flex flex-col p-15">
				<ul class="centered-box flex flex-col justify-around flex-grow-1">
					{% for entry in site.data.navigation.website-pages %}
						<li>
							<a href="{{ entry.url }}">{{ entry.page }}</a>
							{% if entry.subpages[0] %}
								<ul class="submenu">
									{% for entry in entry.subpages %}
										<li>
											<a href="{{ entry.url }}">{{ entry.page }}</a>
											{% if entry.subsubpages[0] %}
												<ul class="subsubmenu">
													{% for entry in entry.subsubpages %}
														<li>
															<a href="{{ entry.url }}">{{ entry.page }}</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>