<header style="
			position: fixed;
			width: 100%;
			z-index: 9997;
			background-color: var(--color-white);
			padding: 15px;
			box-shadow: var(--box-shadow);
		">
	<div class="max-width-container">
		<div class="flex flex-row justify-between items-end">
			<a href="https://scrollif.com.au/">
				<img style="
					width: auto;
					height: 40px;
					margin-right: 5px;
					vertical-align: bottom;
					line-height: 1;
				" 
				src="{{ site.url }}/assets/images/logo_{{ site.title | replace: ' ', '_' | downcase }}.png" 
				alt="{{ site.title }} Logo"/>
			</a>

		</div>
	</div>
</header>

<div style="
		height: calc(100vh - 103px); 
		width: 100%; 
		background-image: url('{{ site.url }}/assets/images/skyline-and-cityscape-new-york.jpg');
		background-color: #FFFFFF;
		background-repeat: no-repeat;
		background-size: cover;
	">
</div>