{% assign service = site.data.services | where_exp: "service", "service.name == page.title" | first  %}
<section class="top-banner">
	<div class="background" style="background-image: url('{{ site.url }}{{ service.background-image }}');">
		<div class="tint">
			<div class="max-width-container">
				<div class="flex-container">
					<div class="contents-container text-contents-container">
						<div class="main reverse">
							<h1 class="title">{{ page.title }}</h1>
							<p>{{ service.description }}</p>
						</div>
					</div>
					<div class="contents-container">
						<img class="image-icon" src="{{ site.url }}{{ service.icon-image }}" alt="{{ page.title }}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>