{% assign service = site.data.services | where_exp: "service", "service.name == page.title" | first  %}
<div id="services">
	<section class="top-banner">
		<div class="background" style="background-image: url('{{ site.url }}{{ service.background-image }}');">
			<div class="tint">
				<div class="max-width-container">
					<div class="flex-container">
						<div class="contents-container text-contents-container">
							<div class="main reverse">
								<h1>
								{% assign breaklastword = service.name | split: ' ' | reverse | join: ' ' | replace_first: ' ', ' brtaglinebreak ' %}
								{{ breaklastword | split: ' ' | reverse | join: ' ' | replace_first: 'brtaglinebreak', '<br/>' }}</h1>
								<p>{{ service.description }}</p>
								<a class="button highlight" href="{{ site.url }}/{{ page.title }}#pricing">See Pricing</a>
								<a class="button" href="{{ site.url }}/{{ page.title }}#whats-included">Learn More</a>
							</div>
						</div>
						<div class="contents-container">
							<img class="image-icon" src="{{ site.url }}{{ service.icon-image }}" alt="{{ service.name }}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="benefits">
		<div class="background">
			<div class="max-width-container">
				<div class="contents-container">
					<!--
					<div class="tease-line-container">
						<div class="main">
							<h2>{{ service.tease-line-part-1 }}
							{% assign breakaftercomma = service.tease-line | replace_first: ', ', 'breakspace' %}
							{{ breakaftercomma | replace: ' ', '&nbsp;' | replace: 'breakspace', ', ' }}
							</h2>
						</div>
					</div>
					-->
					<div class="flex-container">
						{% for benefit in service.benefits %}
	                        <div class="benefits-box">
                            	<div class="main">
                            		<img class="benefits-image" src="{{ site.url }}{{ benefit.icon-image }}" alt="{{ benefit.name }}"/>
	                                <h3>{{ benefit.name }}</h3>
    	                            <p>{{ benefit.description }}</p>
    	                        </div>
                            </div>
                    	{% endfor %}
					</div>
				</div>	
			</div>
		</div>
	</section>
	
	<section class="quote">
		<div class="background">
			<div class="half-max-width-container">
                <div class="quote-flex-container">
                    <div class="inner-flex-container">
                        <div class="inverted-commas opening-inverted-commas">
                        	<p>"</p>
                        </div>
                    	<div class="quote-box quote">
                        	<div class="main reverse">
								<h2>
								{% assign breakaftercomma = service.tease-line | replace_first: ', ', 'breakspace' %}
								{{ breakaftercomma | replace: ' ', '&nbsp;' | replace: 'breakspace', ', ' }}
								</h2>
							</div>
                    	</div>
                    	<div class="inverted-commas closing-inverted-commas">
                        	<p>"</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</section>
	
	<section class="pricing">
		<div class="background">
			<div class="max-width-container">

			</div>
		</div>
	</section>
	
</div>