{% assign service = site.data.services.[page.title]  %}
<section class="webpage-topper">
	<div class="background" style="background-image: url('{{ site.url }}/assets/images/{{ page.title | replace: ' ', '_' | downcase }}.jpg');">
		<div class="tint">
			<div class="max-width-container">
				<div class="flex-container">
					<div class="contents-container">
						<div class="main reverse">
							<h1 class="title">{{ page.title }}</h1>
							<p>{{ site.data.services.HTML Emails.description }}</p>
							<p>Sed quam dui, vehicula ut turpis ut, pretium convallis dui. Duis efficitur, mauris sit amet ultricies commodo, sem orci vestibulum libero, in tincidunt orci elit vitae tortor.</p>
						</div>
					</div>
					<div class="contents-container">
						<img class="image-icon" src="{{ site.url }}/assets/images/websites.png" alt="Websites"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>