---
---
/* RESET CSS */
	{% remote_include https://scrollif-assets.netlify.app/websites/css/reset-css.scss %}

/* FONTS */
	@import "fonts";
@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("var(--site-url)/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.eot"); /* IE9 Compat Modes */
  src: url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.otf") format("opentype"), /* Open Type Font */
    url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.svg") format("svg"), /* Legacy iOS */
    url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.woff") format("woff"), /* Modern Browsers */
    url("var(--site-url)/assets/fonts/Quicksand-Regular/Quicksand-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* CSS VARIABLES */
	{% remote_include https://scrollif-assets.netlify.app/websites/css/default-variables.scss %}
	@import "variables";

/* UTILITY CSS */
	{% remote_include https://scrollif-assets.netlify.app/websites/css/utility-css.scss %}
	@import "utility";	

/* EXTERNAL COMPONENTS */
	{% remote_include https://scrollif-assets.netlify.app/websites/components/loading-screen/css/loading-screen.scss %}
	{% remote_include https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/css/powered-by-scroll-if.scss %}

/* MAIN CSS */
	@import "main";