section.contact-form div.background {
    background-color: var(--color-black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 65%;
}
section.contact-form div.tint {
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
}
section.contact-form div.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: calc(var(--default-padding) * 3) var(--default-padding) calc(var(--default-padding) * 8);
}
section.contact-form div.content-container {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 300px;
}
/* TEXT */
    section.contact-form div.text-container {
        padding: var(--default-padding);
        text-align: left;
    }
    section.contact-form div.text-container div.spacer {
        padding: var(--default-padding);
    }
/* FORM */
    section.contact-form div.form-container {
        padding: calc(var(--default-padding) - calc(var(--default-padding) / 3));
        margin-top: var(--h2-margin-top);
        margin-bottom: var(--h2-margin-bottom);
    }
    section.contact-form form div.form-flex-container  {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    section.contact-form form div.input-grouping-container {
        flex-basis: 50%;
        flex-grow: 1;
        min-width: 200px;
        padding: calc(var(--default-padding) / 3);
    }    
    section.contact-form form .signup-email {
        display: none;
    }
    section.contact-form form .message-area {
        resize: none;
        height: 140px;
    }
    section.contact-form form .recaptcha {
        width: 100%;
        padding: calc(var(--default-padding) / 3);
    }
    section.contact-form form .g-recaptcha {
        transform: scale(0.89);
        transform-origin: 0 0;
    }
