@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("https://scrollif.com.au/assets/fonts/Dosis-ExtraBold/Dosis-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.eot"); /* IE9 Compat Modes */
  src: url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.otf") format("opentype"), /* Open Type Font */
    url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.svg") format("svg"), /* Legacy iOS */
    url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.woff") format("woff"), /* Modern Browsers */
    url("https://scrollif.com.au/assets/fonts/Quicksand-Regular/Quicksand-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}