footer {
	width: 100%;
	background-color: var(--color-white);
	padding: 15px;
	text-align: center;
}
footer div.max-width-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  	justify-content: space-evenly;
	align-items: flex-start;
}
footer div.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
}
/* LOGO */
	footer div.logo-container {
		display: flex;
		flex-direction: column;
		margin-right: 15px;
	}
	footer div.logo-container a {
	  	margin: 0 25px 0 0;
	}
	footer div.logo-container img.logo {
		width: auto;
		height: 40px;
		vertical-align: bottom;
		line-height: 1;
	}
	footer div.logo-container p.logo-name {
		color: var(--color-black);
		font-family: var(--font-primary);
		font-size: var(--font-l);
		word-spacing: normal;
		letter-spacing: 2.5px;
		padding-left: 2.5px;
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}
	footer div.logo-container span.tagline {
	  	text-align: left;
	  	margin: 10px 0 20px;
	}
	footer div.logo-container span.tagline code {
	  	background: var(--color-primary);
	  	font-size: var(--font-s);
  		padding: 2px 4px 2px 2px;
  		margin-left: 15px;
	}
	footer div.logo-container span.tagline code span {
	    animation: text-cursor 1s;
	    animation-iteration-count: infinite;
	}
	@keyframes text-cursor {
	    0% { opacity: 0; }
	    49% { opacity: 0; }
	    51% { opacity: 1; }
	    100% { opacity: 1; }
	}
/* CONTACT ICONS */
	footer div.contact-container {
		display: flex;
    	flex-direction: column;
    	align-items: start;
  		flex-wrap: nowrap;
	}
	footer div.contact-container a {
		margin: 0 0 10px;
  		white-space: nowrap;
	}
	footer div.contact-container img.icon {
		width: 20px;
  		height: auto;
   		margin-right: 3px;
    	padding: 2px;
		vertical-align: bottom;
		line-height: 1;
		-webkit-transition: padding var(--transition-speed);
		-moz-transition: padding var(--transition-speed);
		-o-transition: padding var(--transition-speed);
		-ms-transition: padding var(--transition-speed);
		transition: padding var(--transition-speed);
	}
	footer div.contact-container a:hover > img.icon {
		padding: 0;
	}
	footer div.contact-container p.icon-name {
		color: var(--color-primary);
		font-family: var(--font-secondary);
		font-weight: 800;
		font-size: var(--font-m);
		display: inline;
		vertical-align: top;
		line-height: 1;
		background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom;
		background-size: 0% 1px;
		background-repeat:no-repeat;
		-webkit-transition: background var(--transition-speed);
		-moz-transition: background var(--transition-speed);
		-o-transition: background var(--transition-speed);
		-ms-transition: background var(--transition-speed);
		transition: background var(--transition-speed);
	}
	html:not(.can-touch) footer div.contact-container a:hover p, 
	html:not(.can-touch) footer div.contact-container a:focus p {
		background-size: 100% 1px;
	}
/* SITE MAP */
	/* NAVBAR */
		/* GLOBAL */
			footer nav.sitemap {
				display: inline-flex;
				vertical-align: top;
				line-height: 1;
				font-family: var(--font-primary);
				font-size: var(--font-l);
				color: var(--color-black);
				word-spacing: normal;
				letter-spacing: normal;
				text-transform: uppercase;
			}
			footer nav.sitemap p {
				margin: 0;
				padding: 0;
				display: inline;
				background: linear-gradient(var(--color-black),var(--color-black)) center bottom;
				background-size: 0% 2px;
				background-repeat:no-repeat;
				-webkit-transition: color var(--transition-speed), background var(--transition-speed);
				-moz-transition: color var(--transition-speed), background var(--transition-speed);
				-o-transition: color var(--transition-speed), background var(--transition-speed);
				-ms-transition: color var(--transition-speed), background var(--transition-speed);
				transition: color var(--transition-speed), background var(--transition-speed);
			}
			footer nav.sitemap li.current-page p {
				color: var(--color-primary);
				background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom;
				background-size: 0% 2px;
				background-repeat:no-repeat;
			}
			html:not(.can-touch) footer nav.sitemap a:hover p, 
			html:not(.can-touch) footer nav.sitemap a:focus p {
				background-size: 100% 2px;
			}
			footer nav.sitemap ul:focus-within a {
				outline: none;
			}
			footer nav.sitemap li {
			  display: none;
			  text-align: left;
			  padding: 10px 0;
			}
			footer nav.sitemap li.submenu-trigger,
			footer nav.sitemap li.submenu-trigger li,
			footer nav.sitemap li.subsubmenu-trigger,
			footer nav.sitemap li.subsubmenu-trigger li  {
			  display: list-item;
			}
			footer nav.sitemap a {
				display: inline-block;
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				white-space: nowrap;
			}
		/* MENU */
			footer nav.sitemap ul.menu {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
		/* SUBMENU */
			footer nav.sitemap ul.submenu {
				display: flex;
				flex-direction: column;
				font-family: var(--font-primary);
				font-size: var(--font-s);
				color: var(--color-dark-grey);
			}
			footer nav.sitemap ul.submenu li {
				padding: 0;
			}
			footer nav.sitemap ul.submenu li:nth-child(1) {
				padding-top: 10px;
			}
			footer nav.sitemap ul.submenu a {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			header nav ul.submenu li:hover > a p,
			header nav ul.submenu li:focus-within > a p {
				color: var(--color-black);
			}
		/* SUBSUBMENU */
			footer nav.sitemap ul.subsubmenu li:nth-child(1) {
				padding-top: 0;
			}
			footer nav.sitemap ul.subsubmenu a {
				padding-left: 20px; 
			}
			footer nav.sitemap ul.subsubmenu {
				display: none; /*instead of flex */
				flex-direction: column;
				font-size: var(--font-s);
				color: var(--color-dark-grey);
			}
/* SOCIAL ICONS */
	footer div.socials-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		flex-wrap: wrap;
		width: 100%;
		max-width: 450px;
   		padding: 0 12px;
		margin-top: 15px;
	}
	footer div.socials-container img.icon {
		width: auto;
		height: 12vw;
    	max-height: 40px;
		padding: 3px;
		-webkit-transition: padding var(--transition-speed);
		-moz-transition: padding var(--transition-speed);
		-o-transition: padding var(--transition-speed);
		-ms-transition: padding var(--transition-speed);
		transition: padding var(--transition-speed);
	}
	footer div.socials-container a:hover > img.icon {
		padding: 0;
	}
/* LEGAL LINKS */
	footer div.legal-container {
		width: 100%;
		text-align: center;
		margin: 15px 0;
	}
	footer div.legal-container p {
		color: var(--color-primary);
		font-family: var(--font-secondary);
		font-weight: 800;
		font-size: var(--font-m);
		display: inline;
		vertical-align: top;
		line-height: 1;
	}
	footer div.legal-container a {
		background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom;
		background-size: 0% 1px;
		background-repeat:no-repeat;
		-webkit-transition: background var(--transition-speed);
		-moz-transition: background var(--transition-speed);
		-o-transition: background var(--transition-speed);
		-ms-transition: background var(--transition-speed);
		transition: background var(--transition-speed);
	}
	html:not(.can-touch) footer div.contact-container a:hover , 
	html:not(.can-touch) footer div.contact-container a:focus {
		background-size: 100% 1px;
	}