/* LOGO */
	footer {
		width: 100%;
		background-color: var(--color-white);
		padding: 15px;
		text-align: center;
	}
	footer div.max-width-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	footer div.container {
		display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
		padding: 15px;
	}
	footer img.logo {
		width: auto;
		height: 40px;
		margin-right: 5px;
		vertical-align: bottom;
		line-height: 1;
	}
	footer p.logo-name {
		color: var(--color-black);
		font-family: var(--font-primary);
		font-size: var(--font-l);
		word-spacing: normal;
		letter-spacing: 2.5px;
		padding-left: 2.5px;
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}
/* CONTACT ICONS */
	footer img.icon {
		width: auto;
		height: 20px;
		margin-right: 5px;
		vertical-align: bottom;
		line-height: 1;
	}
	footer p.icon-name {
		color: var(--color-black);
		font-family: var(--font-primary);
		font-size: var(--font-l);
		word-spacing: normal;
		letter-spacing: 2.5px;
		padding-left: 2.5px;
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}
/* SITE MAP */
	/* NAVBAR */
		/* GLOBAL */
			footer nav.sitemap {
				display: inline-flex;
				justify-content: center;
				vertical-align: top;
				line-height: 1;
				font-family: var(--font-primary);
				font-size: var(--font-l);
				color: var(--color-black);
				word-spacing: normal;
				letter-spacing: normal;
				text-transform: uppercase;
			}
			footer nav.sitemap p {
				margin: 0;
				padding: 0;
				display: inline;
				background: linear-gradient(var(--color-black),var(--color-black)) center bottom; /*OR bottom right OR bottom left*/
				background-size: 0% 2px; /*width:0% height:2px*/
				background-repeat:no-repeat; /* Don't repeat !!*/
				-webkit-transition: color var(--transition-speed), background var(--transition-speed);
				-moz-transition: color var(--transition-speed), background var(--transition-speed);
				-o-transition: color var(--transition-speed), background var(--transition-speed);
				-ms-transition: color var(--transition-speed), background var(--transition-speed);
				transition: color var(--transition-speed), background var(--transition-speed);
			}
			footer nav.sitemap li.current-page p {
				color: var(--color-primary);
				background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom; /*OR bottom right OR bottom left*/
				background-size: 0% 2px; /*width:0% height:2px*/
				background-repeat:no-repeat; /* Don't repeat !!*/
			}
			html:not(.can-touch) footer nav.sitemap a:hover p, 
			html:not(.can-touch) footer nav.sitemap a:focus p {
				background-size: 100% 2px; /*width:100% height:2px*/
			}
			footer nav.sitemap ul:focus-within a {
				outline: none;
			}
			footer nav.sitemap li {
			  display: none;
			  text-align: left;
			  padding: 10px 0;
			}
			footer nav.sitemap li.submenu-trigger,
			footer nav.sitemap li.submenu-trigger li,
			footer nav.sitemap li.subsubmenu-trigger,
			footer nav.sitemap li.subsubmenu-trigger li  {
			  display: list-item;
			}
			footer nav.sitemap a {
				display: inline-block;
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				white-space: nowrap;
			}
		/* MENU */
			footer nav.sitemap ul.menu {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
		/* SUBMENU */
			footer nav.sitemap ul.submenu {
				display: flex;
				flex-direction: column;
				font-family: var(--font-primary);
				font-size: var(--font-s);
				color: var(--color-dark-grey);
			}
			footer nav.sitemap ul.submenu li {
				padding: 0;
			}
			footer nav.sitemap ul.submenu li:nth-child(1) {
				padding-top: 10px;
			}
			footer nav.sitemap ul.submenu a {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			header nav ul.submenu li:hover > a p,
			header nav ul.submenu li:focus-within > a p {
				color: var(--color-black);
			}
		/* SUBSUBMENU */
			footer nav.sitemap ul.subsubmenu li:nth-child(1) {
				padding-top: 0;
			}
			footer nav.sitemap ul.subsubmenu a {
				padding-left: 20px; 
			}
			footer nav.sitemap ul.subsubmenu {
				display: none; /*instead of flex */
				flex-direction: column;
				font-size: var(--font-s);
				color: var(--color-dark-grey);
			}
/* MEDIA QUERIES */
	@media only screen and (min-width: 460px) {
		/* footer nav.sitemap ul.menu {
			flex-direction: row;
			align-items: flex-start;
		}
		footer nav.sitemap li {
			min-width: 41%;
			text-align: left;
		} 
	}
	@media only screen and (min-width: 660px) {
		footer nav.sitemap li {
			min-width: 26%;
		}
	}
	@media only screen and (min-width: 820px) {
		footer nav.sitemap ul.menu {
			justify-content: space-evenly;
		}
		footer nav.sitemap li {
			min-width: 0%;
		} */
	}