header  {
	position: fixed;
	width: 100%;
	z-index: 9995;
	background-color: var(--color-white);
	padding: 15px;
	box-shadow: var(--box-shadow);
}
header div.max-width-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
/* LOGO */
	header img.logo {
		width: auto;
		height: 40px;
		margin-right: 5px;
		vertical-align: bottom;
		line-height: 1;
	}
	header p.logo-name {
		color: var(--color-black);
		font-family: var(--font-primary);
		font-weight: var(--font-primary-weight);
		font-size: var(--font-s);
		word-spacing: normal;
		letter-spacing: 2.5px;
		padding-left: 2.5px;
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}
/* NAVBAR */
	/* NAVBAR */
		/* GLOBAL */
			header nav {
				font-family: var(--font-primary);
				font-weight: var(--font-primary-weight);
				font-size: var(--font-s);
				color: var(--color-black);
				word-spacing: normal;
				letter-spacing: normal;
				text-transform: uppercase;
				line-height: 1;
			}
			header nav p {
				margin: 0;
				padding: 0;
				display: inline;
				background: linear-gradient(var(--color-black),var(--color-black)) center bottom;
					background-size: 0% 2px;
					background-repeat:no-repeat;
				-webkit-transition: color var(--transition-speed), background var(--transition-speed);
				-moz-transition: color var(--transition-speed), background var(--transition-speed);
				-o-transition: color var(--transition-speed), background var(--transition-speed);
				-ms-transition: color var(--transition-speed), background var(--transition-speed);
				transition: color var(--transition-speed), background var(--transition-speed);
			}
			header nav li.current-page p {
				color: var(--color-primary);
				background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom; /*OR bottom right OR bottom left*/
					background-size: 0% 2px;
					background-repeat:no-repeat;
			}		
			html:not(.can-touch) header nav a:hover p, 
			html:not(.can-touch) header nav a:focus p {
				background-size: 100% 2px;
			}
			header nav ul:focus-within a {
				outline: none;
			}
			header nav li {
				position: relative;
				background-color: var(--color-white);
			}
			header nav a {
				display: inline-block;
				width: 100%;
				white-space: nowrap;
			}
		/* SUBMENU */
			header nav ul.submenu {
				display: flex;
				flex-direction: column;
				min-width: 100%;
				font-size: var(--font-xs);
				color: var(--color-dark-grey);
			}
			header nav ul.submenu li:hover > a p,
			header nav ul.submenu li:focus-within > a p {
				color: var(--color-black);
			}
		/* SUBSUBMENU */
			header nav ul.subsubmenu {
				display: inline-flex;
				flex-direction: column;
			}
	/* NAVBAR STATIC */	
		/* GLOBAL */
			header nav.navbar-static {
				display: none;
				vertical-align: bottom;
			}
			header nav.navbar-static a {
				padding-right: 15px;
				padding-left: 15px;
			}
			html:not(.can-touch) header nav.navbar-static > ul li:hover > ul,
			html:not(.can-touch) header nav.navbar-static > ul li:focus-within > ul {
				opacity: 1;
				visibility: visible;
				-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				transition: opacity var(--transition-speed), visibility var(--transition-speed);
			}
		/* MENU */
			header nav.navbar-static ul.menu {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
			}
		/* SUBMENU */
			header nav.navbar-static ul.submenu {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				z-index: 9996;
				padding-top: 15px;
				box-shadow: var(--box-shadow-bottom);
			}
			header nav.navbar-static ul.submenu a {
				padding-top: 15px;
				padding-bottom: 15px;
			}
			html:not(.can-touch) header nav.navbar-static li.submenu-trigger > a:hover + ul.submenu,
			html:not(.can-touch) header nav.navbar-static li.submenu-trigger > a:focus + ul.submenu,
			html:not(.can-touch) header nav.navbar-static ul.submenu:hover,
			html:not(.can-touch) header nav.navbar-static ul.submenu:focus,
			html:not(.can-touch) header nav.navbar-static ul.submenu:focus-within {
				opacity: 1;
				visibility: visible;
				-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				transition: opacity var(--transition-speed), visibility var(--transition-speed);
			}
		/* SUBSUBMENU */
			header nav.navbar-static ul.subsubmenu {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				z-index: 9997;
				box-shadow: var(--box-shadow-bottom);
			}
			html:not(.can-touch) header nav.navbar-static a.subsubmenu-trigger:hover + ul.subsubmenu,
			html:not(.can-touch) header nav.navbar-static a.subsubmenu-trigger:focus + ul.subsubmenu,
			html:not(.can-touch) header nav.navbar-static ul.subsubmenu:hover,
			html:not(.can-touch) header nav.navbar-static ul.subsubmenu:focus,
			html:not(.can-touch) header nav.navbar-static ul.subsubmenu:focus-within {
				opacity: 1;
				visibility: visible;
				-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
				transition: opacity var(--transition-speed), visibility var(--transition-speed);
			}
	/* MENU ICON */	
		body.nojs header div.menu-icon {
			display: none;
		}
		header div.menu-icon {
			position: relative;
			height: 30px;
			width: 36px;
			cursor: pointer;
		}
		header div.menu-icon span {
			position: absolute;
			background-color: var(--color-black);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
			-webkit-transition: 0.5s ease;
			-moz-transition: 0.5s ease;
			-o-transition: 0.5s ease;
			-ms-transition: 0.5s ease;
			transition: 0.5s ease;
		}
		header div.menu-icon span {
			right: 0;
			height: 6px;
			width: 100%;
		}
		header div.menu-icon span:nth-child(1) {
			bottom: 5px;
		}
		header div.menu-icon span:nth-child(2),
		header div.menu-icon span:nth-child(3) {
			bottom: 17px;
		}
		header div.menu-icon span:nth-child(4) {
			bottom: 29px;
		}
		header div.menu-icon.open span:nth-child(1),
		header div.menu-icon.open span:nth-child(4) {
			bottom: 17px;
			width: 0%;
			right: 50%;
		}
		header div.menu-icon.open span:nth-child(2) {
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			transform: rotate(135deg);
		}
		header div.menu-icon.open span:nth-child(3) {
			-webkit-transform: rotate(-135deg);
			-moz-transform: rotate(-135deg);
			-o-transform: rotate(-135deg);
			-ms-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}
	/* SCREEN BLACK OUT */
		div.black-out {
			visibility: hidden;
			position: absolute;
			right: -15px;
			top: 55px;
			height: calc(100vh - 70px);
			width: 100vw;
			background-color: var(--color-black);
			opacity: 0;
			-webkit-transition: opacity 0.5s linear, visibility 0.5s linear;
			-moz-transition: opacity 0.5s linear, visibility 0.5s linear;
			-o-transition: opacity 0.5s linear, visibility 0.5s linear;
			-ms-transition: opacity 0.5s linear, visibility 0.5s linear;
			transition: opacity 0.5s linear, visibility 0.5s linear;
		}
		div.black-out.open {
			visibility: visible;
			opacity: 0.7;
		}
	/* NAVBAR SLIDER */	
		/* GLOBAL */
			header nav.navbar-slider {
			    display: inline-flex;
			    flex-direction: row;
			    justify-content: left;
			    text-align: left;
				padding: 0 15px 15px 30px;
				position: absolute;
				right: -15px;
				top: 55px;
				height: calc(100vh - 70px);
				width: 40vw;
				min-width: 220px;
				background-color: var(--color-white);
				visibility: hidden;
				-webkit-transform: translateX(100%);
				-moz-transform: translateX(100%);
				-o-transform: translateX(100%);
				-ms-transform: translateX(100%);
				transform: translateX(100%);
				-webkit-transition: transform 0.5s ease, visibility 0.5s linear;
				-moz-transition: transform 0.5s ease, visibility 0.5s linear;
				-o-transition: transform 0.5s ease, visibility 0.5s linear;
				-ms-transition: transform 0.5s ease, visibility 0.5s linear;
				transition: transform 0.5s ease, visibility 0.5s linear;
			}
			header nav.navbar-slider.open {
				visibility: visible;
				-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				-o-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}
			header nav.navbar-slider ul {
				height: 100%;
			}
			header nav.navbar-slider a {
				padding: 2vh 2vh 0.5vh 2vh;
			}
		/* MENU */
			header nav.navbar-slider ul.menu {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
		/* SUBMENU */
			header nav.navbar-slider ul.submenu {
				display: none;
				font-size: var(--font-xxs);
			}
		/* SUBSUBMENU */
			header nav.navbar-slider ul.subsubmenu {
				display: none; /*instead of flex */
			}
			header nav.navbar-slider ul.subsubmenu a {
				padding-left: 20px; 
			}
/* MEDIA QUERIES */
	@media only screen and (min-width: 1025px) {
		header div.menu-icon {
			display: none;
		}
		header nav.navbar-static {
			display: inline-flex;
		}
	}
	@media only screen and (min-height: 600px) {
		header nav.navbar-slider ul.submenu {
			display: flex;
		}
	}