/* HERO IMAGE */
    div.hero-image {
        height: calc(100vh - var(--header-height)); 
        width: 100%;
        background-color: var(--color-black);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    div.hero-image div.tint {
        height: 100%;
        background-color: rgba(1, 1, 1, 0.2);
    }
    /* IMAGES & TEXT */
        div.hero-image div.flex-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        div.hero-image div.content-container {
            padding: var(--default-padding);
            text-align: center;
        }
        div.hero-image div.image-grouping-container {
            display: inline-block;
        }
        div.hero-image img.image-icon {
            height: auto;
            min-width: 100px;
            width: 18vmin;
            max-width: 150px;
            margin: 0 calc(var(--default-padding) + 3vmax) calc(var(--default-padding) + 4vmin);
        }
        div.hero-image p.subtitle {
            font-family: var(--font-primary);
            color: var(--color-white);
            font-size: calc(var(--font-xxs) + 2vmin);
            text-transform: uppercase;
            letter-spacing: 1vmin;
            padding-left: 1vmin;
            margin-top: 0;
        }
        div.hero-image code.tagline {
            background: var(--color-primary);
            font-size: calc(var(--font-xxs) + 2vmin);
            padding: 2px 4px 2px 2px;
            margin-left: 9vmin;
        }
        div.hero-image code.tagline span.cursor {
            animation: text-cursor 1s;
            animation-iteration-count: infinite;
        }
        @keyframes text-cursor {
            0% { opacity: 0; }
            49% { opacity: 0; }
            51% { opacity: 1; }
            100% { opacity: 1; }
        }
    /* BUTTON */
        div.hero-image a.scroll-down-button {
            display: block;
            position: absolute;
            bottom: var(--default-padding);
            margin: var(--default-padding) auto;
            -webkit-transition: bottom var(--transition-speed);
            -moz-transition: bottom var(--transition-speed);
            -o-transition: bottom var(--transition-speed);
            -ms-transition: bottom var(--transition-speed);
            transition: bottom var(--transition-speed);
            animation: bump 2s;
            animation-iteration-count: infinite;
        }
        @keyframes bump {
            0% {
            bottom: var(--default-padding);
            }
            30% {
            bottom: var(--default-padding);
            }
            50% {
            bottom: calc(var(--default-padding) / 3);
            }
            70% {
            bottom: var(--default-padding);
            }
            100% {
            bottom: var(--default-padding);
            }
        }
        div.hero-image a.scroll-down-button div.background {
            width: 45px;
            height: 45px;
            background-color: var(--color-white);
            border-radius: 50%;
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            -webkit-transition: background-color var(--transition-speed);
            -moz-transition: background-color var(--transition-speed);
            -o-transition: background-color var(--transition-speed);
            -ms-transition: background-color var(--transition-speed);
            transition: background-color var(--transition-speed);
        }
        div.hero-image a.scroll-down-button div.arrow {
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 20px solid var(--color-black);
            -webkit-transition: border-color var(--transition-speed);
            -moz-transition: border-color var(--transition-speed);
            -o-transition: border-color var(--transition-speed);
            -ms-transition: border-color var(--transition-speed);
            transition: border-color var(--transition-speed);
        }
        html:not(.can-touch) div.hero-image a.scroll-down-button:hover,
        html:not(.can-touch) div.hero-image a.scroll-down-button:focus {
            outline: none;
        }
        html:not(.can-touch) div.hero-image a.scroll-down-button:hover a.scroll-down-button div.background, 
        html:not(.can-touch) div.hero-image a.scroll-down-button:focus a.scroll-down-button div.background {
            background-color: var(--color-primary);
        }
        html:not(.can-touch) div.hero-image a.scroll-down-button:hover a.scroll-down-button div.arrow, 
        html:not(.can-touch) div.hero-image a.scroll-down-button:focus a.scroll-down-button div.arrow {
            border-top-color: var(--color-white);
        }
/* ABOUT */
    #about div.background {
        background-color: var(--color-white);
    }
    /* TEXT & IMAGE */
        #about div.flex-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: var(--default-padding);
        }
        #about div.content-container {
            flex-basis: 100%;
            flex-grow: 1;
        }
        #about div.content-container.text-container {
            padding: var(--default-padding);
        }
        #about div.quote-container {
            margin-top: calc(var(--default-padding) * 2);
        }
        #about div.quote-box {
            margin: var(--default-padding) 0;
        }
        #about div.content-container.image-container {
            padding: var(--default-padding) 0;
        }
        #about img.impact-image {
            display: block;
            width: 100%;
            height: auto;
            margin-top: var(--h2-margin-top);
            margin-bottom: var(--h2-margin-bottom);
        }
        @media only screen and (min-width: 758px) {
            #about div.content-container {
                flex-basis: 50%;
                flex-grow: 1;
            }
            #about div.content-container.image-container {
                padding: var(--default-padding);
            }
        }
    /* WORDCLOUD */
        #about div.wordcloud {
            display: grid;
            justify-content: center;
            grid-gap: 5px;
            font-family: var(--font-primary);
            font-weight: var(--font-weight-primary);
            padding: calc(var(--default-padding) * 2) var(--default-padding);
            margin-bottom: calc(var(--default-padding) * 2);
        }
        #about div.wordcloud > div {
            color: #1C6E8A;
            font-size: calc(var(--font-xxs)/2 + 1vw);
            text-shadow: var(--text-shadow);
        }
        #about div.wordcloud > div:nth-child(2n) {
            color: #248FB3;
            font-size: calc(var(--font-xxs)/2 + 1.5vw);
        }
        #about div.wordcloud > div:nth-child(3n) {
            color: #293033;
            -webkit-writing-mode: vertical-lr;
            -moz-writing-mode: vertical-lr;
            -o-writing-mode: vertical-lr;
            -ms-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
        }
        #about div.wordcloud > div:nth-child(4n) {
            color: #2CAFDB;
            font-size: calc(var(--font-xs)/2 + 2vw);
        }
        #about div.wordcloud > div:nth-child(5n) {
            color: #046e8f;
            font-size: calc(var(--font-s)/2 + 2.5vw);
        }
        @media only screen and (min-width: 425px) {
            #about div.wordcloud > div {
                font-size: calc(var(--font-xxs) + 1vw);
            }
            #about div.wordcloud > div:nth-child(2n) {
                font-size: calc(var(--font-xxs) + 1.5vw);
            }
            #about div.wordcloud > div:nth-child(4n) {
                font-size: calc(var(--font-xs) + 2vw);
            }
            #about div.wordcloud > div:nth-child(5n) {
                font-size: calc(var(--font-s) + 2.5vw);
            }
        }
        #worldcloud1 {
            grid-area: worldcloud1;
        }
        #worldcloud2 {
            grid-area: worldcloud2;
        }
        #worldcloud3 {
            grid-area: worldcloud3;
        }
        #worldcloud4 {
            grid-area: worldcloud4;
        }
        #worldcloud5 {
            grid-area: worldcloud5;
            text-align: center;
            margin: auto 0;
        }
        #worldcloud6 {
            grid-area: worldcloud6;
        }
        #worldcloud7 {
            grid-area: worldcloud7;
        }
        #worldcloud8 {
            grid-area: worldcloud8;
            text-align: right;
        }
        #worldcloud9 {
            grid-area: worldcloud9;
        }
        #worldcloud10 {
            grid-area: worldcloud10;
        }
        #worldcloud11 {
            grid-area: worldcloud11;
            text-align: right;
        }
        #worldcloud12 {
            grid-area: worldcloud12;
        }
        #about div.wordcloud {      
            grid-template:
            '. . . worldcloud6 worldcloud4 worldcloud4 worldcloud4 worldcloud4'
            'worldcloud8 worldcloud8 worldcloud8 worldcloud6 worldcloud5 worldcloud9 worldcloud12 worldcloud7'
            '. worldcloud11 worldcloud3 worldcloud6 worldcloud5 worldcloud9 worldcloud12 worldcloud10'
            '. . worldcloud3 worldcloud6 worldcloud1 worldcloud9 worldcloud12 worldcloud10'
            '. . worldcloud3 worldcloud6 worldcloud2 worldcloud9 worldcloud12 worldcloud10'
            '. . . worldcloud6 . . worldcloud12 .';
        }
    /* DICTIONARY */
        #about div.dictionary-background {
            background-color: var(--color-black);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        #about div.dictionary-background div.tint {
            height: 100%;
            background-color: rgba(1, 1, 1, 0.7);
        }
        #about div.dictionary-background div.dictionary-flex-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: calc(var(--default-padding) * 3) var(--default-padding);
        }
        /* ELEMENT TAG */
            #about div.dictionary-background div.opening-tag {
                align-self: flex-start;
                margin: var(--default-padding) auto 0 var(--default-padding);
            }
            #about div.dictionary-background div.closing-tag {
                align-self: flex-end;
                margin: 0 var(--default-padding) var(--default-padding) auto;
            }
            #about div.dictionary-background code.element-tag {
                display: block;
                width: 60px;
                background-color: var(--color-dark-grey);
                color: var(--color-white);
                font-size: var(--font-xl);
                letter-spacing: -5px;
                text-align: center;
                padding:0 5px 5px 0;
            }
        /* DICTIONARY TEXT */
            #about div.dictionary-background div.inner-flex-container {
                flex-grow: 1;
                padding: calc(var(--default-padding) * 2);
            }
            #about div.dictionary-background div.dictionary-box {
                max-width: 175px;
            }
            #about div.dictionary-background div.dictionary-box.first-word {
                margin-right: auto; 
                margin-bottom: calc(var(--default-padding) * 2);
            }
            #about div.dictionary-background div.dictionary-box.second-word {
                margin-top: calc(var(--default-padding) * 2);
                margin-left: auto;
            }
            #about div.dictionary-background div.dictionary-box p.word {
                font-family: var(--font-primary);
                font-weight: var(--font-weight-primary);
                font-size: var(--font-xl);
                margin: 0;
            }
            #about div.dictionary-background div.first-word p.word {
                color: var(--color-white);
            }
            #about div.dictionary-background div.second-word p.word {
                color: var(--color-primary);
            }
            #about div.dictionary-background div.dictionary-box p.pronunciation {
                font-family: Arial;
                color: var(--color-white);
                font-size: var(--font-xs);
                font-style: italic;
                margin: 0;
            }
            #about div.dictionary-background div.dictionary-box span.word-class {
                font-family: var(--font-secondary);
                font-weight: var(--font-weight-secondary);
                font-size: var(--font-xs);
                font-style: normal;
            }
            #about div.dictionary-background div.dictionary-box p.meaning {
                font-family: var(--font-tertiary);
                font-weight: var(--font-weight-tertiary);
                color: var(--color-white);
                font-size: var(--font-xxs);
                font-style: italic;
                margin: 3px 0;
                border-top: var(--color-dark-grey) solid 1px;
            }
/* SERVICES */
    #services div.background  {
        background-color: var(--color-white);
    }
    /* TEXT INTO */
        #services div.text-container {
            padding: calc(var(--default-padding) * 2) var(--default-padding);
            text-align: center;
        }
        #services div.bar-spacer  {
            padding-top: var(--default-padding);
            background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom;
                        background-size: 60px 5px;
                        background-repeat:no-repeat;
        }
    /* SERVICES TILES */
        #services div.services-container {
            display: flex;
            flex-direction: flex-row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: var(--default-padding) calc(var(--default-padding) - calc(var(--default-padding) / 3)) calc(var(--default-padding) * 4);
        }
        #services div.services-box {
            min-width: calc(320px - var(--default-padding));
            height: calc(320px - var(--default-padding));
            flex-basis: 33%;
            flex-grow: 1;
            padding: calc(var(--default-padding) / 3);
        }
        #services div.services-box:nth-child(1),
        #services div.services-box:nth-child(2),
        #services div.services-box:nth-child(4),
        #services div.services-box:nth-child(5) {
            flex-basis: 50%;
        }
        #services div.services-box a.overflow-box  {
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        #services div.services-box div.background-image {
            background-color: var(--color-black);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            -webkit-transition: transform var(--transition-speed);
            -moz-transition: transform var(--transition-speed);
            -o-transition: transform var(--transition-speed);
            -ms-transition: transform var(--transition-speed);
            transition: transform var(--transition-speed);
        }
        #services div.services-box div.tint {
            height: 100%;
            background-color: rgba(1, 1, 1, 0.8);
        }
        /* TEXT CONTENT */
            #services div.services-box div.mirror-box {
                position: absolute;
                top: 0;
                left: 0;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                -webkit-transition: background-color var(--transition-speed);
                -moz-transition: background-color var(--transition-speed);
                -o-transition: background-color var(--transition-speed);
                -ms-transition: background-color var(--transition-speed);
                transition: background-color var(--transition-speed);
            }
            #services div.services-box div.text-container {
                min-width: 200px;
                width: 75%;
                text-align: center;
            }
            #services div.services-box div.text-container h3 {
                margin: calc(var(--font-s)/1.5) 0 calc(var(--font-s)/1.5);
            }
        /* HOVER STATE EFFECTS */
            html:not(.can-touch) #services div.services-box a.overflow-box:hover,
            html:not(.can-touch) #services div.services-box a.overflow-box:focus {
                outline: none;
            }
            html:not(.can-touch) #services div.services-box a.overflow-box:hover div.background-image,
            html:not(.can-touch) #services div.services-box a.overflow-box:focus div.background-image {
                transform: scale(110%);
            }
            html:not(.can-touch) #services div.services-box a.overflow-box:hover div.mirror-box,
            html:not(.can-touch) #services div.services-box a.overflow-box:focus div.mirror-box {
                background-color: rgba(1, 1, 1, 0.7);
            }
            html:not(.can-touch) #services div.services-box div.text-container p {
                display: none;
            }
            html:not(.can-touch) #services div.services-box a.overflow-box:hover div.text-container p,
            html:not(.can-touch) #services div.services-box a.overflow-box:focus div.text-container p {
                display: inline;
            }
/* CONTACT US */
    #contact div.background {
        background-color: var(--color-black);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 65%;
    }
    #contact div.tint {
        height: 100%;
        background-color: rgba(1, 1, 1, 0.6);
    }
    #contact div.flex-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: calc(var(--default-padding) * 3) var(--default-padding) calc(var(--default-padding) * 8);
    }
    #contact div.content-container {
        flex-basis: 50%;
        flex-grow: 1;
        min-width: 260px;
    }
    /* TEXT */
        #contact div.text-container {
            padding: var(--default-padding);
            text-align: left;
        }
        #contact div.text-container div.spacer {
            padding: var(--default-padding);
        }
    /* FORM */
        #contact div.form-container {
            padding: calc(var(--default-padding) - calc(var(--default-padding) / 3));
            margin-top: var(--h2-margin-top);
            margin-bottom: var(--h2-margin-bottom);
        }
        #contact form div.form-flex-container  {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        #contact form div.input-grouping-container {
            flex-basis: 50%;
            flex-grow: 1;
            min-width: 200px;
            padding: calc(var(--default-padding) / 3);
        }
        #contact form input {
            border: none;
        }
        #contact form .input-field,
        #contact form .message-area {
            background-color: var(--color-white);
            width: 100%;
            padding: calc(calc(var(--default-padding) / 3) * 2);
            margin: calc(var(--default-padding) / 3) 0;
        }
        #contact form .message-area {
            resize: none;
            height: 140px;
        }
