/* HERO IMAGE */
    div.hero-image {
    	height: calc(100vh - var(--header-height)); 
        width: 100%; 
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.hero-image div.container {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.hero-image div.container div:nth-child(1) {
        margin-right: 15px;
        margin-bottom: 15px;
        max-width: 175px;
    }
    div.hero-image div.container div:nth-child(2) {
        margin-top: 15px;
        margin-left: 15px;
        max-width: 175px;
    }
    div.hero-image div.container div:nth-child(1) p:nth-child(1) {
        font-family: var(--font-primary);
        color: var(--color-black);
        font-size: var(--font-xl);
        margin: 0;
    }
    div.hero-image div.container div:nth-child(2) p:nth-child(1) {
        font-family: var(--font-primary);
        color: var(--color-primary);
        font-size: var(--font-xl);
        margin: 0;
    }
    div.hero-image div.container div p:nth-child(2) {
        font-family: Arial;
        font-size: var(--font-xs);
        font-style: italic;
        margin: 0;
    }
    div.hero-image div.container div p:nth-child(2) span {
        font-family: var(--font-secondary);
        font-size: var(--font-xs);
        font-style: normal;
    }
    div.hero-image div.container div p:nth-child(3) {
        font-family: var(--font-tertiary);
        font-size: var(--font-xxs);
        margin: 3px 0;
        border-top: var(--color-light-grey) solid 1px;
    }
/* MEDIA QUERIES */
    @media only screen and (min-width: 464px) {
        div.hero-image div.container {
            width: 85%;
            max-width: 600px;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }