/* HERO IMAGE */
    div.hero-image {
    	height: calc(100vh - var(--header-height)); 
        width: 100%; 
        background-color: var(--color-black);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    div.tint {
        background-color: #00000030;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* TITLE */
        div.hero-image div.title-container {
            text-align: center;
            padding: 0 15px;
        }
        div.hero-image div.break-box {
            display: inline-block;
        }
        div.hero-image div.title-container img {
            height: auto;
            width: 18vmin;
            max-width: 150px;
            margin: 0 calc(15px + 3vmax) calc(15px + 4vmin);
        }
        div.hero-image div.title-container p {
            font-family: var(--font-primary);
            color: var(--color-white);
            font-size: calc(10px + 2vmin);
            text-transform: uppercase;
            letter-spacing: 1vmin;
            padding-left: 1vmin;
            margin: 0;
        }
    /* TAGLINE */
        div.hero-image div.tagline-container {
            margin: 4vmin 0;
        }
        div.hero-image div.tagline-container span.tagline code {
            background: var(--color-primary);
            font-size: 3vmin;
            padding: 2px 4px 2px 2px;
            margin-left: 10vmin;
        }
        div.hero-image div.tagline-container span.tagline code span {
            animation: text-cursor 1s;
            animation-iteration-count: infinite;
        }
        @keyframes text-cursor {
            0% { opacity: 0; }
            49% { opacity: 0; }
            51% { opacity: 1; }
            100% { opacity: 1; }
        }
    /* SCROLL DOWN BUTTON */
        div.hero-image a.scroll-down-trigger {
            display: block;
            margin: 15px auto;
            position: absolute;
            bottom: 15px;
            -webkit-transition: bottom var(--transition-speed);
            -moz-transition: bottom var(--transition-speed);
            -o-transition: bottom var(--transition-speed);
            -ms-transition: bottom var(--transition-speed);
            transition: bottom var(--transition-speed);
            animation: bump 2s;
            animation-iteration-count: infinite;
        }
        @keyframes bump {
            0% {
            bottom: 15px;
            }
            30% {
            bottom: 15px;
            }
            50% {
            bottom: 5px;
            }
            70% {
            bottom: 15px;
            }
            100% {
            bottom: 15px;
            }
        }
        div.hero-image div.scroll-down-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        div.hero-image div.scroll-down-arrow {
            width: 0;
            height: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 30px solid var(--color-white);
            -webkit-transition: border-color var(--transition-speed);
            -moz-transition: border-color var(--transition-speed);
            -o-transition: border-color var(--transition-speed);
            -ms-transition: border-color var(--transition-speed);
            transition: border-color var(--transition-speed);
        }
        html:not(.can-touch) div.hero-image a.scroll-down-trigger:hover div.scroll-down-arrow, 
        html:not(.can-touch) div.hero-image a.scroll-down-trigger:focus div.scroll-down-arrow {
            border-top-color: var(--color-primary);
        }
        html:not(.can-touch) div.hero-image a.scroll-down-trigger:hover,
        html:not(.can-touch) div.hero-image a.scroll-down-trigger:focus {
            outline: none;
        }
/* ABOUT */
    #about div.background:nth-child(1) {
        background-color: var(--color-white);
    }
    #about div.wrapper {
        padding: 15px;
        font-size: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #about div.wrapper div.box {
        flex-basis: 50%;
        flex-grow: 1;
        padding: 15px;
        max-width: 585px;
    }
    #about div.wrapper div.box ul {
        margin-bottom: 30px;
    }
    #about div.wrapper div.box span.code-block {
        display: block;
        margin: 15px 0;
    }
    #about div.wrapper div.box a.button {
        display: inline-block;
        padding: 10px;
        font-family: var(--font-tertiary);
        font-size: var(--font-xs);
        text-decoration: none;
        background-color: var(--color-black);
        margin: 15px 0;
        box-shadow: var(--box-shadow-bottom-right);
        -webkit-transition: background-color var(--transition-speed);
        -moz-transition: background-color var(--transition-speed);
        -o-transition: background-color var(--transition-speed);
        -ms-transition: background-color var(--transition-speed);
        transition: background-color var(--transition-speed);
    }
    #about div.wrapper div.box a.button p {
        color: var(--color-white);
        -webkit-transition: color var(--transition-speed);
        -moz-transition: color var(--transition-speed);
        -o-transition: color var(--transition-speed);
        -ms-transition: color var(--transition-speed);
        transition: color var(--transition-speed);
    }
    html:not(.can-touch) #about div.wrapper div.box a.button:hover, 
    html:not(.can-touch) #about div.wrapper div.box a.button:focus {
        background-color: var(--color-primary);
    }
    html:not(.can-touch) #about div.wrapper div.box a.button:hover p, 
    html:not(.can-touch) #about div.wrapper div.box a.button:focus p {
        color: var(--color-black);
    }
    html:not(.can-touch) #about div.wrapper div.box a.button:hover,
    html:not(.can-touch) #about div.wrapper div.box a.button:focus {
        outline: none;
    }
    #about div.wrapper div.box img {
        width: 100%;
        min-width: 350px;
        height: auto;
        margin: 30px auto;
        display: block;
    }
    /* DICTIONARY */
        #about div.background:nth-child(2) {
            background-color: var(--color-black);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        #about div.tint {
            background-color: #00000099;
            padding: 30px;
            width: 100%;
            height: 100%;
        }
        #about div.wrapper.dictionary-container-wrapper {
            max-width: 615px;
            margin: auto;
        }
        #about div.wrapper.dictionary-container-wrapper div.code:nth-child(1) {
            align-self: flex-start;
            margin: 0 auto 0 15px;
            padding-top: 15px;
        }
        #about div.wrapper.dictionary-container-wrapper div.code:nth-child(3) {
            align-self: flex-end;
            margin: 0 15px 0 auto;
            padding-bottom: 15px;
        }
        #about div.wrapper.dictionary-container-wrapper div code {
            display: block;
            width: 60px;
            background-color: var(--color-dark-grey);
            color: var(--color-white);
            font-size: var(--font-xl);
            letter-spacing: -5px;
            text-align: center;
            padding:0 5px 5px 0;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container {
            min-width: 220px;
            max-width: 350px;
            margin: auto;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div:nth-child(1) {
            margin-right: auto;
            margin-bottom: 15px;
            max-width: 175px;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div:nth-child(2) {
            margin-top: 15px;
            margin-left: auto;
            max-width: 175px;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div:nth-child(1) p:nth-child(1) {
            font-family: var(--font-primary);
            color: var(--color-white);
            font-size: var(--font-xl);
            margin: 0;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div:nth-child(2) p:nth-child(1) {
            font-family: var(--font-primary);
            color: var(--color-primary);
            font-size: var(--font-xl);
            margin: 0;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div p:nth-child(2) {
            font-family: Arial;
            color: var(--color-white);
            font-size: var(--font-xs);
            font-style: italic;
            margin: 0;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div p:nth-child(2) span {
            font-family: var(--font-secondary);
            font-size: var(--font-xs);
            font-style: normal;
        }
        #about div.wrapper.dictionary-container-wrapper div.box div.dictionary-container div p:nth-child(3) {
            font-family: var(--font-tertiary);
            color: var(--color-white);
            font-size: var(--font-xxs);
            font-style: italic;
            margin: 3px 0;
            border-top: var(--color-dark-grey) solid 1px;
        }
/* WEBSITES */
    #websites div.background {
        background-color: var(--color-black);
    }
    #websites div.wrapper {
        padding: 15px;
        font-size: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #websites div.wrapper div.box {
        flex-basis: 50%;
        flex-grow: 1;
        padding: 15px;
        max-width: 450px;
    }
    #websites div.wrapper div.box img {
        display: block;
        width: 100%;
        min-width: 250px;
        max-width: 300px;
        height: auto;
        margin: 30px auto;
    }
    #websites div.wrapper div.box div.main a.button {
        display: inline-block;
        padding: 10px;
        font-family: var(--font-tertiary);
        font-size: var(--font-xs);
        text-decoration: none;
        background-color: var(--color-black);
        margin: 15px 0;
        box-shadow: var(--box-shadow-bottom-right);
        -webkit-transition: background-color var(--transition-speed);
        -moz-transition: background-color var(--transition-speed);
        -o-transition: background-color var(--transition-speed);
        -ms-transition: background-color var(--transition-speed);
        transition: background-color var(--transition-speed);
    }
    #websites div.wrapper div.box div.main a.button p {
        color: var(--color-white);
        -webkit-transition: color var(--transition-speed);
        -moz-transition: color var(--transition-speed);
        -o-transition: color var(--transition-speed);
        -ms-transition: color var(--transition-speed);
        transition: color var(--transition-speed);
    }
    html:not(.can-touch) #websites div.wrapper div.box div.main a.button:hover, 
    html:not(.can-touch) #websites div.wrapper div.box div.main a.button:focus {
        background-color: var(--color-white);
    }
    html:not(.can-touch) #websites div.wrapper div.box div.main a.button:hover p, 
    html:not(.can-touch) #websites div.wrapper div.box div.main a.button:focus p {
        color: var(--color-black);
    }
    html:not(.can-touch) #websites div.wrapper div.box div.main a.button:hover,
    html:not(.can-touch) #websites div.wrapper div.box div.main a.button:focus {
        outline: none;
    }
    /* SERVICES TILES */
        #websites div.wrapper:nth-child(2) {
            justify-content: space-evenly;
        }
        #websites div.wrapper:nth-child(2) div.box {
            flex-basis: 33.33%;
            padding: 30px;
            text-align: center;
            min-width: 275px;
            max-width: 300px;
        }
        #websites div.wrapper:nth-child(2) div.box a.border {
            display: block;
            position: relative;
            bottom: 0;
            background-color: var(--color-white);
            border: solid 10px var(--color-black);
            padding: 15px;
            box-shadow: var(--box-shadow-bottom-right);
            -webkit-transition: bottom var(--transition-speed);
            -moz-transition: bottom var(--transition-speed);
            -o-transition: bottom var(--transition-speed);
            -ms-transition: bottom var(--transition-speed);
            transition: bottom var(--transition-speed);
        }
        #websites div.wrapper:nth-child(2) div.box a.border img {
            min-width: 140px;
            max-width: 140px;
            -webkit-transition: filter var(--transition-speed);
            -moz-transition: filter var(--transition-speed);
            -o-transition: filter var(--transition-speed);
            -ms-transition: filter var(--transition-speed);
            transition: filter var(--transition-speed);
        }
        html:not(.can-touch) #websites div.wrapper:nth-child(2) div.box a.border img {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
        }
        html:not(.can-touch) #websites div.wrapper:nth-child(2) div.box a.border:hover, 
        html:not(.can-touch) #websites div.wrapper:nth-child(2) div.box a.border:focus {
            bottom: 15px;
        }
        html:not(.can-touch) #websites div.wrapper:nth-child(2) div.box a.border:hover img, 
        html:not(.can-touch) #websites div.wrapper:nth-child(2) div.box a.border:focus img {
            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            -o-filter: grayscale(0);
            -ms-filter: grayscale(0);
            filter: grayscale(0);
        }
        #websites div.wrapper:nth-child(2) div.box a.border div.main p {
            text-align: center;
        }
/* GRAPHICS */
    #graphics div.background {
        background-color: var(--color-black);
        padding-bottom:  45px;
    }
    #graphics div.wrapper {
        padding: 15px;
        font-size: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #graphics div.wrapper:nth-child(1) {
        flex-direction: row-reverse;
    }
    #graphics div.wrapper div.box {
        flex-basis: 50%;
        flex-grow: 1;
        padding: 15px;
        max-width: 450px;
    }
    #graphics div.wrapper:nth-child(1) div.box div.main h2,
    #graphics div.wrapper:nth-child(1) div.box div.main p  {
        color: var(--color-white);
    }
    #graphics div.wrapper div.box img {
        display: block;
        width: 100%;
        min-width: 250px;
        max-width: 300px;
        height: auto;
        margin: 30px auto;
    }
    #graphics div.wrapper div.box div.main a.button {
        display: inline-block;
        padding: 10px;
        font-family: var(--font-tertiary);
        font-size: var(--font-xs);
        text-decoration: none;
        background-color: var(--color-white);
        margin: 15px 0;
        box-shadow: var(--box-shadow-bottom-right);
        -webkit-transition: background-color var(--transition-speed);
        -moz-transition: background-color var(--transition-speed);
        -o-transition: background-color var(--transition-speed);
        -ms-transition: background-color var(--transition-speed);
        transition: background-color var(--transition-speed);
    }
    #graphics div.wrapper div.box div.main a.button p {
        color: var(--color-black);
        -webkit-transition: color var(--transition-speed);
        -moz-transition: color var(--transition-speed);
        -o-transition: color var(--transition-speed);
        -ms-transition: color var(--transition-speed);
        transition: color var(--transition-speed);
    }
    html:not(.can-touch) #graphics div.wrapper div.box div.main a.button:hover, 
    html:not(.can-touch) #graphics div.wrapper div.box div.main a.button:focus {
        background-color: var(--color-primary);
    }
    html:not(.can-touch) #graphics div.wrapper div.box div.main a.button:hover p, 
    html:not(.can-touch) #graphics div.wrapper div.box div.main a.button:focus p {
        color: var(--color-white);
    }
    html:not(.can-touch) #graphics div.wrapper div.box div.main a.button:hover,
    html:not(.can-touch) #graphics div.wrapper div.box div.main a.button:focus {
        outline: none;
    }
    /* SERVICES TILES */
        #graphics div.wrapper:nth-child(2) {
            justify-content: space-evenly;
        }
        #graphics div.wrapper:nth-child(2) div.box {
            flex-basis: 33.33%;
            padding: 30px;
            text-align: center;
            min-width: 275px;
            max-width: 300px;
        }
        #graphics div.wrapper:nth-child(2) div.box a.border {
            display: block;
            position: relative;
            bottom: 0;
            background-color: var(--color-white);
            border: solid 10px var(--color-primary);
            padding: 15px;
            box-shadow: var(--box-shadow-bottom-right);
            -webkit-transition: bottom var(--transition-speed);
            -moz-transition: bottom var(--transition-speed);
            -o-transition: bottom var(--transition-speed);
            -ms-transition: bottom var(--transition-speed);
            transition: bottom var(--transition-speed);
        }
        #graphics div.wrapper:nth-child(2) div.box a.border img {
            min-width: 140px;
            max-width: 140px;
            -webkit-transition: filter var(--transition-speed);
            -moz-transition: filter var(--transition-speed);
            -o-transition: filter var(--transition-speed);
            -ms-transition: filter var(--transition-speed);
            transition: filter var(--transition-speed);
        }
        html:not(.can-touch) #graphics div.wrapper:nth-child(2) div.box a.border img {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
        }
        html:not(.can-touch) #graphics div.wrapper:nth-child(2) div.box a.border:hover, 
        html:not(.can-touch) #graphics div.wrapper:nth-child(2) div.box a.border:focus {
            bottom: 15px;
        }
        html:not(.can-touch) #graphics div.wrapper:nth-child(2) div.box a.border:hover img, 
        html:not(.can-touch) #graphics div.wrapper:nth-child(2) div.box a.border:focus img {
            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            -o-filter: grayscale(0);
            -ms-filter: grayscale(0);
            filter: grayscale(0);
        }
        #graphics div.wrapper:nth-child(2) div.box a.border div.main p {
            text-align: center;
        }
/* MEDIA QUERIES */
    @media only screen and (min-width: 464px) {
        
    }