/* HEADER */
	header  {
		position: fixed;
		width: 100%;
		z-index: 9995;
		background-color: var(--color-white);
		padding: 15px;
		box-shadow: var(--box-shadow);
	}
	header .logo {
		width: auto;
		height: 40px;
		margin-right: 5px;
		vertical-align: bottom;
		line-height: 1;
	}
	header .logo-name {
		color: var(--color-black);
		font-family: var(--font-primary);
		font-size: var(--font-l);
		word-spacing: normal;
		letter-spacing: 2.5px;
		padding-left: 2.5px;
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}



/* NAVBARS */
	/* ALL NAVBARS */
		nav {
			font-family: var(--font-primary);
			font-size: var(--font-l);
			color: var(--color-black);
			word-spacing: normal;
			letter-spacing: normal;
			text-transform: uppercase;
		}
		nav a p {
			margin: 0;
			padding: 0;
			display: inline;
			background: linear-gradient(var(--color-black),var(--color-black)) center bottom; /*OR bottom right OR bottom left*/
  			background-size: 0% 2px; /*width:0% height:2px*/
  			background-repeat:no-repeat; /* Don't repeat !!*/
			-webkit-transition: color var(--transition-speed), background var(--transition-speed);
			-moz-transition: color var(--transition-speed), background var(--transition-speed);
			-o-transition: color var(--transition-speed), background var(--transition-speed);
			-ms-transition: color var(--transition-speed), background var(--transition-speed);
			transition: color var(--transition-speed), background var(--transition-speed);
		}



/*		ul.submenu > li:hover > a p  */

		ul.submenu li:hover > a p,
		ul.submenu li:focus-within > a p {
			color: var(--color-black);
		}





		nav a {
			padding-left: normal;
		}
		nav .current-page p {
			color: var(--color-primary);
			background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom; /*OR bottom right OR bottom left*/
  			background-size: 0% 2px; /*width:0% height:2px*/
  			background-repeat:no-repeat; /* Don't repeat !!*/
		}
		html:not(.can-touch) nav a:hover p, 
		html:not(.can-touch) nav a:focus p {
			background-size: 100% 2px; /*width:100% height:2px*/
		}
		nav ul:focus-within a {
			outline: none;
		}
		nav li {
			position: relative;
		}
		nav li a {
			display: inline-block;
			width: 100%;
			white-space: nowrap;
		}
		nav .submenu {
			display: flex;
			flex-direction: column;
			font-family: var(--font-primary);
			font-size: var(--font-m);
			color: var(--color-dark-grey);
			min-width: 100%;
		}
		
	/* NAVBAR STATIC */
		nav.navbar-static {
			display: none;
			vertical-align: bottom;
			line-height: 1;
		}
		nav.navbar-static a {
			padding-right: 15px;
			padding-left: 15px;
		}
		
		nav.navbar-static .submenu a {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		nav.navbar-static .submenu li:nth-child(1) {
			padding-top: 15px;
		}
		nav.navbar-static .subsubmenu li:nth-child(1) {
			padding-top: 0;
		}
		nav.navbar-static .subsubmenu li:nth-child(1) a {
			padding-top: 15px;
		}

		nav.navbar-static .submenu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			padding: 0;
			box-shadow: var(--box-shadow-bottom);
			z-index: 9996;
		}
		nav.navbar-static .submenu a {
			background-color: var(--color-white);
		}







		html:not(.can-touch) nav.navbar-static .submenu-trigger:hover + .submenu,
		html:not(.can-touch) nav.navbar-static .submenu-trigger:focus + .submenu  {
			opacity: 1;
			visibility: visible;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
		}




/* THIS DID IT */
		html:not(.can-touch) nav.navbar-static > ul li:hover > ul,
		html:not(.can-touch) nav.navbar-static > ul li:focus-within > ul {
			opacity: 1;
			visibility: visible;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
		}




		html:not(.can-touch) nav.navbar-static .submenu:hover,
		html:not(.can-touch) nav.navbar-static .submenu:focus {
			visibility: visible;
			opacity: 1;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
		}
		html:not(.can-touch) nav.navbar-static .submenu:focus-within {
			opacity: 1;
			visibility: visible;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
		}
		/* SUBSUBMENU */
			nav .subsubmenu {
				display: inline-flex;
				flex-direction: column;
				font-family: var(--font-primary);
				font-size: var(--font-m);
				color: var(--color-dark-grey);
				background-color: var(--color-white);
			}
			nav.navbar-static .subsubmenu {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				box-shadow: var(--box-shadow-bottom);
				z-index: 9997;
			}
			html:not(.can-touch) nav.navbar-static .subsubmenu-trigger:hover + .subsubmenu,
			html:not(.can-touch) nav.navbar-static .subsubmenu-trigger:focus + .subsubmenu  {
				opacity: 1;
				visibility: visible;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
			}

			html:not(.can-touch) nav.navbar-static .subsubmenu:hover,
			html:not(.can-touch) nav.navbar-static .subsubmenu:focus {
				visibility: visible;
				opacity: 1;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
			}
			html:not(.can-touch) nav.navbar-static .subsubmenu:focus-within {
				opacity: 1;
				visibility: visible;
			-webkit-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-moz-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-o-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			-ms-transition: opacity var(--transition-speed), visibility var(--transition-speed);
			transition: opacity var(--transition-speed), visibility var(--transition-speed);
			}
	/* NAVBAR MEDIA QUERIES [STATIC > SLIDER] */
		@media only screen and (min-width: 1025px) {
			div.menu-icon {
				display: none;
			}
			nav.navbar-static {
				display: inline-flex;
			}
		}










	/* NAVBAR ICONS */
		/* ALL ICONS */
			div.menu-icon {
				position: relative;
				height: 20px;
				width: 24px;
				cursor: pointer;
			}
			body.nojs div.menu-icon {
				display: none;
			}
			div.menu-icon span {
				position: absolute;
				background-color: var(--color-black);
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: 0.5s ease;
				-moz-transition: 0.5s ease;
				-o-transition: 0.5s ease;
				-ms-transition: 0.5s ease;
				transition: 0.5s ease;
			}
		/* HAMBURGER ICON */
			div.menu-icon span {
				right: 0;
				height: 4px;
				width: 100%;
			}
			div.menu-icon span:nth-child(1) {
				bottom: 0;
			}
			div.menu-icon span:nth-child(2),
			div.menu-icon span:nth-child(3) {
				bottom: 8px;
			}
			div.menu-icon span:nth-child(4) {
				bottom: 16px;
			}
			div.menu-icon.open span:nth-child(1),
			div.menu-icon.open span:nth-child(4) {
				bottom: 8px;
				width: 0%;
				right: 50%;
			}
			div.menu-icon.open span:nth-child(2) {
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			div.menu-icon.open span:nth-child(3) {
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
	/* NAVBAR SLIDERS*/
		nav.navbar-slider {
			position: absolute;
			right: -15px;
			top: 55px;
			height: calc(100vh - 70px);
			width: 100vw;
			background-color: var(--color-white);
			visibility: hidden;
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			-o-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);
			-webkit-transition: transform 0.5s ease, visibility 0.5s linear;
			-moz-transition: transform 0.5s ease, visibility 0.5s linear;
			-o-transition: transform 0.5s ease, visibility 0.5s linear;
			-ms-transition: transform 0.5s ease, visibility 0.5s linear;
			transition: transform 0.5s ease, visibility 0.5s linear;
		}
		nav.navbar-slider.open {
			visibility: visible;
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}
		@media screen and (orientation: landscape) {
			nav.navbar-slider {
				justify-content: center;
			}
			nav.navbar-slider ul.centered-box {
				flex-direction: row;
				flex-grow: 0;
			}
			nav.navbar-slider ul.centered-box li {
				flex-grow: 1;
			}
		}
		
			nav.navbar-slider a {
				padding: 1.5rem;
			}	
			nav.navbar-slider .submenu a {
				padding: 1rem;
			}
		



		
		

			


	/* FONTS */
		.v-align-l {
			vertical-align:15px; 
		}
		.letter-spacing-5 {
			letter-spacing: 5px;
		}
		.word-spacing-2_5 {
			word-spacing: 2.5px;
		}	


		/* TO DELETE */
		.f-5 {
			font-size: 5px;
		}
		.f-7_5 {
			font-size: 7.5px;
		}
		.f-10 {
			font-size: 10px;
		}
		.f-12_5 {
			font-size: 12.5px;
		}
		.f-15 {
			font-size: 15px;
		}
		.f-17_5 {
			font-size: 17.5px;
		}
		.f-20 {
			font-size: 20px;
		}
		.f-25 {
			font-size: 25px;
		}
		.f-30 {
			font-size: 30px;
		}
		.f-40 {
			font-size: 40px;
		}
		.f-50 {
			font-size: 50px;
		}
	/* MARGIN & PADDING */
		.pt-70 {
			padding-top:70px;
		}
		.p-5 {
			padding: 5px;
		}
		.p-7_5 {
			padding: 7.5px;
		}
		.p-10 {
			padding: 10px;
		}
		.p-12_5 {
			padding: 12.5px;
		}
		.p-15 {
			padding: 15px;
		}
		.p-17_5 {
			padding: 17.5px;
		}
		.p-20 {
			padding: 20px;
		}
		.p-30 {
			padding: 30px;
		}
		.p-40 {
			padding: 40px;
		}
		.p-50 {
			padding: 50px;
		}
		.px-5 {
			padding-left: 5px;
			padding-right: 5px;
		}
		.px-7_5 {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
		.px-10 {
			padding-left: 10px;
			padding-right: 10px;
		}
		.px-12_5 {
			padding-left: 12.5px;
			padding-right: 12.5px;
		}
		.px-15 {
			padding-left: 15px;
			padding-right: 15px;
		}
		.px-17_5 {
			padding-left: 17.5px;
			padding-right: 17.5px;
		}
		.px-20 {
			padding-left: 20px;
			padding-right: 20px;
		}
		.px-30 {
			padding-left: 30px;
			padding-right: 30px;
		}
		.px-40 {
			padding-left: 40px;
			padding-right: 40px;
		}
		.px-50 {
			padding-left: 50px;
			padding-right: 50px;
		}
		.py-5 {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.py-7_5 {
			padding-top: 7.5px;
			padding-bottom: 7.5px;
		}
		.py-10 {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.py-12_5 {
			padding-top: 12.5px;
			padding-bottom: 12.5px;
		}
		.py-15 {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.py-17_5 {
			padding-top: 17.5px;
			padding-bottom: 17.5px;
		}
		.py-20 {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.py-30 {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.py-40 {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.py-50 {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.pt-5 {
			padding-top: 5px;
		}
		.pt-7_5 {
			padding-top: 7.5px;
		}
		.pt-10 {
			padding-top: 10px;
		}
		.pt-12_5 {
			padding-top: 12.5px;
		}
		.pt-15 {
			padding-top: 15px;
		}
		.pt-17_5 {
			padding-top: 17.5px;
		}
		.pt-20 {
			padding-top: 20px;
		}
		.pt-30 {
			padding-top: 30px;
		}
		.pt-40 {
			padding-top: 40px;
		}
		.pt-50 {
			padding-top: 50px;
		}
		.pr-5 {
			padding-right: 5px;
		}
		.pr-7_5 {
			padding-right: 7.5px;
		}
		.pr-10 {
			padding-right: 10px;
		}
		.pr-12_5 {
			padding-right: 12.5px;
		}
		.pr-15 {
			padding-right: 15px;
		}
		.pr-17_5 {
			padding-right: 17.5px;
		}
		.pr-20 {
			padding-right: 20px;
		}
		.pr-30 {
			padding-right: 30px;
		}
		.pr-40 {
			padding-right: 40px;
		}
		.pr-50 {
			padding-right: 50px;
		}
		.pb-5 {
			padding-bottom: 5px;
		}
		.pb-7_5 {
			padding-bottom: 7.5px;
		}
		.pb-10 {
			padding-bottom: 10px;
		}
		.pb-12_5 {
			padding-bottom: 12.5px;
		}
		.pb-15 {
			padding-bottom: 15px;
		}
		.pb-17_5 {
			padding-bottom: 17.5px;
		}
		.pb-20 {
			padding-bottom: 20px;
		}
		.pb-30 {
			padding-bottom: 30px;
		}
		.pb-40 {
			padding-bottom: 40px;
		}
		.pb-50 {
			padding-bottom: 50px;
		}
		.pl-5 {
			padding-left: 5px;
		}
		.pl-7_5 {
			padding-left: 7.5px;
		}
		.pl-10 {
			padding-left: 10px;
		}
		.pl-12_5 {
			padding-left: 12.5px;
		}
		.pl-15 {
			padding-left: 15px;
		}
		.pl-17_5 {
			padding-left: 17.5px;
		}
		.pl-20 {
			padding-left: 20px;
		}
		.pl-30 {
			padding-left: 30px;
		}
		.pl-40 {
			padding-left: 40px;
		}
		.pl-50 {
			padding-left: 50px;
		}
	/* WIDTH & HEIGHT */
		
		.h-5 {
			height: 5px;
		}
		.h-7_5 {
			height: 7.5px;
		}
		.h-10 {
			height: 10px;
		}
		.h-12_5 {
			height: 12.5px;
		}
		.h-15 {
			height: 15px;
		}
		.h-17_5 {
			height: 17.5px;
		}
		.h-20 {
			height: 20px;
		}
		.h-30 {
			height: 30px;
		}
		.h-40 {
			height: 40px;
		}
		.h-50 {
			height: 50px;
		}
		.h-100 {
			height: 100px;
		}
		.h-150 {
			height: 150px;
		}
		.h-200 {
			height: 200px;
		}
	/* BACKGROUND IMAGES */
		.cover {
			background-size: cover;
		}
		.contain {
			background-size: contain;
		}
		.repeat {
			background-repeat: repeat;
		}
		.no-repeat {
			background-repeat: no-repeat;
		}
		.bgpos-0-0 {
			background-position: 0% 0%;
		}
		.bgpos-0-50 {
			background-position: 0% 50%;
		}
		.bgpos-0-100 {
			background-position: 0% 100%;
		}
		.bgpos-50-0 {
			background-position: 50% 0%;
		}
		.bgpos-50-50 {
			background-position: 50% 50%;
		}
		.bgpos-50-100 {
			background-position: 50% 100%;
		}
		.bgpos-100-0 {
			background-position: 100% 0%;
		}
		.bgpos-100-50 {
			background-position: 100% 50%;
		}
		.bgpos-100-100 {
			background-position: 100% 100%;
		}
	/* TRANSITION & HOVER STATES */
		
		html:not(.can-touch) .hover-color-primary:hover {
			color: var(--color-primary);
		}
		html:not(.can-touch) .hover-color-primary:focus {
			color: var(--color-primary);
		}


		/* TO DELETE */
		html:not(.can-touch) .focus-within-visible:focus-within {
			opacity:1;
			visibility:visible;
		}
		html:not(.can-touch) .hover-sibling-visible:hover + * {
			opacity:1;
			visibility:visible;
		}
		html:not(.can-touch) .hover-sibling-visible:focus + * {
			opacity:1;
			visibility:visible;
		}
		html:not(.can-touch) .hover-visible:hover {
			visibility: visible;
			opacity: 1;
		}


	/* ARROW SPACER BLOCKS */
		div.arrow-down-5vh-white,
		div.arrow-down-5vh-black,
		div.arrow-down-5vh-primary,
		div.arrow-down-5vh-secondary,
		div.arrow-down-5vh-tertiary {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		div.arrow-down-5vh-white div:nth-child(1),
		div.arrow-down-5vh-white div:nth-child(3) {
			background-color: var(--color-white);
			flex-grow: 1;
		}
		div.arrow-down-5vh-white div:nth-child(2) {
			width: 0;
			height: 0;
			border-top: 5vh solid transparent;
			border-right: 5vh solid var(--color-white);
			border-bottom: 0 solid var(--color-white);
			border-left: 5vh solid var(--color-white);
		}
		div.arrow-down-5vh-black div:nth-child(1),
		div.arrow-down-5vh-black div:nth-child(3) {
			background-color: var(--color-black);
			flex-grow: 1;
		}
		div.arrow-down-5vh-black div:nth-child(2) {
			width: 0;
			height: 0;
			border-top: 5vh solid transparent;
			border-right: 5vh solid var(--color-black);
			border-bottom: 0 solid var(--color-black);
			border-left: 5vh solid var(--color-black);
		}
		div.arrow-down-5vh-primary div:nth-child(1),
		div.arrow-down-5vh-primary div:nth-child(3) {
			background-color: var(--primary);
			flex-grow: 1;
		}
		div.arrow-down-5vh-primary div:nth-child(2) {
			width: 0;
			height: 0;
			border-top: 5vh solid transparent;
			border-right: 5vh solid var(--primary);
			border-bottom: 0 solid var(--primary);
			border-left: 5vh solid var(--primary);
		}
		div.arrow-down-5vh-secondary div:nth-child(1),
		div.arrow-down-5vh-secondary div:nth-child(3) {
			background-color: var(--secondary);
			flex-grow: 1;
		}
		div.arrow-down-5vh-secondary div:nth-child(2) {
			width: 0;
			height: 0;
			border-top: 5vh solid transparent;
			border-right: 5vh solid var(--secondary);
			border-bottom: 0 solid var(--secondary);
			border-left: 5vh solid var(--secondary);
		}
		div.arrow-down-5vh-tertiary div:nth-child(1),
		div.arrow-down-5vh-tertiary div:nth-child(3) {
			background-color: var(--tertiary);
			flex-grow: 1;
		}
		div.arrow-down-5vh-tertiary div:nth-child(2) {
			width: 0;
			height: 0;
			border-top: 5vh solid transparent;
			border-right: 5vh solid var(--tertiary);
			border-bottom: 0 solid var(--tertiary);
			border-left: 5vh solid var(--tertiary);
		}

/* SITEMAP & FOOTER ICONS */
		
	@media only screen and (min-width: 540px) {
		footer div.max-width-container ul div.line-break-box {
			flex-basis: 50%;
		}
		footer div.max-width-container div.max-width-container-half ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
	}






















/* FOOTER */
	footer {
		width: 100%;
		background-color: var(--color-white);
		padding: 15px;
		text-align: center;
	}
	footer div.max-width-container {
		padding: 15px;
	}
	footer .logo {
		width: auto;
		height: 40px;
		margin-right: 5px;
		vertical-align: bottom;
		line-height: 1;
	}
	footer .logo-name {
		color: var(--color-black);
		font-family: var(--font-primary);
		font-size: var(--font-l);
		word-spacing: normal;
		letter-spacing: 2.5px;
		padding-left: 2.5px;
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}



/* NAVBARS */
	/* ALL NAVBARS */
		nav.sitemap {
			font-family: var(--font-primary);
			font-size: var(--font-l);
			color: var(--color-black);
			word-spacing: normal;
			letter-spacing: normal;
			text-transform: uppercase;
		}
		nav.sitemap a p {
			margin: 0;
			padding: 0;
			display: inline;
			background: linear-gradient(var(--color-black),var(--color-black)) center bottom; /*OR bottom right OR bottom left*/
  			background-size: 0% 2px; /*width:0% height:2px*/
  			background-repeat:no-repeat; /* Don't repeat !!*/
			-webkit-transition: color var(--transition-speed), background var(--transition-speed);
			-moz-transition: color var(--transition-speed), background var(--transition-speed);
			-o-transition: color var(--transition-speed), background var(--transition-speed);
			-ms-transition: color var(--transition-speed), background var(--transition-speed);
			transition: color var(--transition-speed), background var(--transition-speed);
		}

		nav.sitemap a {
			padding-left: normal;
		}
		nav.sitemap .current-page p {
			color: var(--color-primary);
			background: linear-gradient(var(--color-primary),var(--color-primary)) center bottom; /*OR bottom right OR bottom left*/
  			background-size: 0% 2px; /*width:0% height:2px*/
  			background-repeat:no-repeat; /* Don't repeat !!*/
		}
		html:not(.can-touch) nav.sitemap a:hover p, 
		html:not(.can-touch) nav.sitemap a:focus p {
			background-size: 100% 2px; /*width:100% height:2px*/
		}
		nav.sitemap ul {
			width: 100%;
		}
		nav.sitemap ul:focus-within a {
			outline: none;
		}
		nav.sitemap li {
			text-align: left;
		}
		nav.sitemap li a {
			display: inline-block;
			width: 100%;
			white-space: nowrap;
		}
		nav.sitemap .submenu {
			display: flex;
			flex-direction: column;
			font-family: var(--font-primary);
			font-size: var(--font-s);
			color: var(--color-dark-grey);
		}
		
	/* NAVBAR STATIC */
		nav.sitemap {
			display: none;
			vertical-align: top;
			line-height: 1;
			width: 100%;
		}
		nav.sitemap a {
			padding-right: 15px;
			padding-left: 15px;
		}
		
		nav.sitemap .submenu a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		nav.sitemap .submenu li:nth-child(1) {
			padding-top: 10px;
		}
		nav.sitemap .subsubmenu li:nth-child(1) {
			padding-top: 0;
		}
		nav.sitemap .subsubmenu a {
			padding-left: 20px; 
		}

		nav.sitemap .submenu {
			padding: 0;
			/* box-shadow: var(--box-shadow-bottom); */
		}
		nav.sitemap .submenu a {
			background-color: var(--color-white);
		}


		/* SUBSUBMENU */
			nav.sitemap .subsubmenu {
				display: none; /*instead of flex */
				flex-direction: column;
				font-family: var(--font-primary);
				font-size: var(--font-s);
				color: var(--color-dark-grey);
				background-color: var(--color-white);
			}
	/* NAVBAR MEDIA QUERIES [STATIC > SLIDER] */
		@media only screen and (min-width: 1025px) {
			div.menu-icon {
				display: none;
			}
			nav.sitemap {
				display: inline-flex;
			}
		}