/* STANDARD STYLING */
	:root {
			--margin-top-h1: var(--margin-top-xl);
			--margin-bottom-h1: var(--margin-bottom-xl);
		}
	.main h1 {
		font-family: var(--font-primary);
		font-weight: var(--font-primary-weight);
		color: var(--color-primary);
		font-size: var(--font-xl);
		text-transform: uppercase;
		margin-top: var(--margin-top-h1);
		margin-bottom: var(--margin-bottom-h1);
	}
	.main.reverse h1 {
		color: var(--color-primary);
	}
	:root {
			--margin-top-subtitle: var(--margin-top-l);
			--margin-bottom-subtitle: var(--margin-bottom-l);
		}
	.main h1.subtitle {
		font-family: var(--font-primary);
		font-weight: var(--font-primary-weight);
		color: var(--color-black);
		font-size: var(--font-l);
		text-transform: uppercase;
		margin-top: var(--margin-top-subtitle);
		margin-bottom: var(--margin-bottom-subtitle);
	}
	.main.reverse h1.subtitle {
		color: var(--color-white);
	}
	:root {
			--margin-top-h2: var(--margin-top-m);
			--margin-bottom-h2: var(--margin-bottom-m);
		}
	.main h2 {
		font-family: var(--font-secondary);
		font-weight: var(--font-secondary-weight);
		color: var(--color-black);
		font-size: var(--font-m);
		text-transform: uppercase;
		margin-top: var(--margin-top-h2);
		margin-bottom: var(--margin-bottom-h2);
	}
	.main.reverse h2 {
		color: var(--color-white);
	}
	:root {
			--margin-top-h3: var(--margin-top-s);
			--margin-bottom-h3: var(--margin-bottom-s);
		}
	.main h3 {
		font-family: var(--font-secondary);
		font-weight: var(--font-secondary-weight);
		color: var(--color-black);
		font-size: var(--font-s);
		text-transform: uppercase;
		margin-top: var(--margin-top-h3);
		margin-bottom: var(--margin-bottom-h3);
	}
	.main.reverse h3 {
		color: var(--color-white);
	}
	:root {
			--margin-top-p: var(--margin-top-xs);
			--margin-bottom-p: var(--margin-bottom-xs);
		}
	.main p {
		font-family: var(--font-tertiary);
		font-weight: var(--font-tertiary-weight);
		color: var(--color-black);
		font-size: var(--font-xs);
		margin-top: var(--margin-top-p);
		margin-bottom: var(--margin-bottom-p);
	}
	.main.reverse p {
		color: var(--color-white);
	}
	.main p a {
		font-family: var(--font-tertiary);
		font-weight: 800;
		color: var(--color-primary);
		text-decoration: underline;
	}
	.main ul {
		list-style-position: inside;
		font-family: var(--font-tertiary);
		font-weight: var(--font-tertiary-weight);
	    font-size: var(--font-xs);
	    text-indent: calc(var(--font-xs)*-1.5);
	    margin-left: calc(var(--font-xs)*1.5);
	    margin-bottom: var(--font-xs);
		color: var(--color-black);
	}
	.main.reverse ul {
		color: var(--color-white);
	}
	.main li:before {
		content:  "\25B6";
	    color: var(--color-primary);
	    font-size: var(--font-xs);
	    margin-right: calc(var(--font-xs)/1.5);
	}
	.main li  {
		margin: var(--margin-p);
	}
	.main li p {
		display: inline;
	}
	.main code {
		background-color: var(--color-primary);
		font-size: var(--font-s);
    	padding: 2px 5px 2px 5px;
    	display: inline;
	}
	.main a.button {
        display: inline-block;
        background-color: var(--color-black);
        color: var(--color-white);
        font-family: var(--font-tertiary);
        font-weight:  800;
        font-size: var(--font-xs);
        text-decoration: none;
        padding: var(--default-padding);
        margin: var(--default-padding) 0;
        box-shadow: var(--box-shadow-bottom-right);
        -webkit-transition: background-color var(--transition-speed), color var(--transition-speed);
        -moz-transition: background-color var(--transition-speed), color var(--transition-speed);
        -o-transition: background-color var(--transition-speed), color var(--transition-speed);
        -ms-transition: background-color var(--transition-speed), color var(--transition-speed);
        transition: background-color var(--transition-speed), color var(--transition-speed);
    }
    html:not(.can-touch) .main a.button:hover,
    html:not(.can-touch) .main a.button:focus {
        outline: none;
    }
    html:not(.can-touch) .main a.button:hover, 
    html:not(.can-touch) .main a.button:focus {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
