/* TOP BANNER */
	#services section.top-banner div.background {
		background-color: var(--color-black);
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center;
	}
	#services section.top-banner div.tint {
		height: 100%;
		background-color: rgba(1, 1, 1, 0.8);
	}
	#services section.top-banner div.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		flex-wrap: wrap;
	}
	#services section.top-banner div.contents-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#services section.top-banner div.text-contents-container {
		padding: calc(var(--default-padding) * 2);
		flex-basis: 50%;
		flex-grow: 1;
		min-width: 320px;
		max-width: 520px;
	}
	#services section.top-banner div.text-contents-container a.button {
		margin-right: 5px;
	}
	#services section.top-banner img.image-icon {
	  	margin: var(--default-padding) calc(var(--default-padding) * 2) -40% var(--default-padding);
		height: auto;
	  	max-width: 155px;
	}

/* BENEFITS */
	#services section.benefits div.background {
		background-color: var(--color-white);
	}
	#services section.benefits div.background div.contents-container {
		padding-top: calc(var(--default-padding) * 9);
	}
	/*
	#services section.benefits div.background div.tease-line-container {
		padding: calc(calc(var(--default-padding) * 4) - 5vw) calc(var(--default-padding) * 2) calc(var(--default-padding) * 2);
		min-width: 320px;
		max-width: 70%;
	}
	*/
	#services section.benefits div.flex-container {
		padding: 0 var(--default-padding);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	#services section.benefits div.benefits-box {
		padding: calc(var(--default-padding) * 2) var(--default-padding);
		text-align: center;
		min-width: calc(300px - var(--default-padding));
		flex-basis: 33%;
		flex-grow: 1;
	}
	#services section.benefits img.benefits-image {
		height: auto;
	  	max-width: 75px;
	}
	#services section.benefits div.benefits-box p {
		text-align: justify;
	}

/* CASE STUDIES */
	#services section.quote div.background {
		background-color: var(--color-primary);
	}
    #services section.quote div.background div.quote-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: calc(var(--default-padding) * 3) var(--default-padding);
    }




        /* ELEMENT TAG */
            #services section.quote div.background div.opening-inverted-commas {
                align-self: flex-start;
                margin: var(--default-padding) auto 0 var(--default-padding);
            }
            #services section.quote div.background div.closing-inverted-commas {
                align-self: flex-end;
                margin: 0 var(--default-padding) var(--default-padding) auto;
            }
            #services section.quote div.background code.inverted-comnmas {
                display: block;
                width: 60px;
                background-color: var(--color-dark-grey);
                color: var(--color-white);
                font-size: var(--font-xl);
                letter-spacing: -5px;
                text-align: center;
                padding:0 5px 5px 0;
            }
        /* DICTIONARY TEXT */
            #services section.quote div.background div.inner-flex-container {
                flex-grow: 1;
                padding: calc(var(--default-padding) * 2);
            }
            #services section.quote div.background div.dictionary-box {
                max-width: 175px;
            }
            #services section.quote div.background div.dictionary-box.first-word {
                margin-right: auto; 
                margin-bottom: calc(var(--default-padding) * 2);
            }
            #services section.quote div.background div.dictionary-box.second-word {
                margin-top: calc(var(--default-padding) * 2);
                margin-left: auto;
            }
            #services section.quote div.background div.dictionary-box p.word {
                font-family: var(--font-primary);
                font-weight: var(--font-weight-primary);
                font-size: var(--font-xl);
                margin: 0;
            }
            #services section.quote div.background div.first-word p.word {
                color: var(--color-white);
            }
            #services section.quote div.background div.second-word p.word {
                color: var(--color-primary);
            }
            #services section.quote div.background div.dictionary-box p.pronunciation {
                font-family: Arial;
                color: var(--color-white);
                font-size: var(--font-xs);
                font-style: italic;
                margin: 0;
            }
            #services section.quote div.background div.dictionary-box span.word-class {
                font-family: var(--font-secondary);
                font-weight: var(--font-weight-secondary);
                font-size: var(--font-xs);
                font-style: normal;
            }
            #services section.quote div.background div.dictionary-box p.meaning {
                font-family: var(--font-tertiary);
                font-weight: var(--font-weight-tertiary);
                color: var(--color-white);
                font-size: var(--font-xxs);
                font-style: italic;
                margin: 3px 0;
                border-top: var(--color-dark-grey) solid 1px;
            }











/* PRICING */
	#services section.pricing div.background {
		background-color: var(--color-white);
	}