/* TOP BANNER */
	#services section.top-banner div.background {
		background-color: var(--color-black);
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center;
	}
	#services section.top-banner div.tint {
		height: 100%;
		background-color: rgba(1, 1, 1, 0.8);
	}
	#services section.top-banner div.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		flex-wrap: wrap;
	}
	#services section.top-banner div.contents-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#services section.top-banner div.text-contents-container {
		padding: calc(var(--default-padding) * 2);
		flex-basis: 50%;
		flex-grow: 1;
		min-width: 320px;
		max-width: 520px;
	}
	#services section.top-banner div.text-contents-container a.button {
		margin-right: 5px;
	}
	#services section.top-banner img.image-icon {
	  	margin: var(--default-padding) calc(var(--default-padding) * 2) -40% var(--default-padding);
		height: auto;
	  	max-width: 155px;
	}

/* BENEFITS */
	#services section.benefits div.background {
		background-color: var(--color-white);
	}
	#services section.benefits div.background div.contents-container {
		padding: calc(var(--default-padding) * 9) 0 calc(var(--default-padding) * 3);
	}
	#services section.benefits div.flex-container {
		padding: 0 var(--default-padding);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	#services section.benefits div.benefits-box {
		padding: calc(var(--default-padding) * 2) var(--default-padding);
		text-align: center;
		min-width: calc(300px - var(--default-padding));
		flex-basis: 33%;
		flex-grow: 1;
	}
	#services section.benefits img.benefits-image {
		height: auto;
	  	max-width: 75px;
	}
	#services section.benefits div.benefits-box p {
		text-align: justify;
	}

/* TEASE-LINE */
	#services section.tease-line div.background {
		background-color: var(--color-black);
	}
	#services section.tease-line div.slanted-top {
		display:block;
		width:100%;
		border-style: solid;
		border-width: 0 100vw 5vw 0;
		border-color: transparent transparent var(--color-black) transparent;
	}
	#services section.tease-line div.slanted-bottom {
		display:block;
		width:100%;
		border-style: solid;
		border-width: 0 100vw 5vw 0;
		border-color: transparent var(--color-black) transparent transparent;
	}
    #services section.tease-line div.flex-container {
		display: flex;
		flex-direction: column;
        padding: 0 calc(var(--default-padding) * 3);
    }
	#services section.tease-line div.opening-inverted-commas {
		align-self: flex-start;
	}
	#services section.tease-line div.closing-inverted-commas {
		align-self: flex-end;
	}
	#services section.tease-line p.inverted-commas {
        color: var(--color-primary);
        font-family: var(--font-primary);
        font-weight: var(--font-weight-primary);
        /* font-size: var(--font-xl); */
        font-size: calc(30px + 2vw);
        margin: 0;
    }
	#services section.tease-line div.closing-inverted-commas p.inverted-commas {
		transform: rotate(180deg) scaleX(-1);
	}
    #services section.tease-line h2.tease-line-text {
        text-align: center;
        font-size: calc(20px + 1vw);
        font-style: italic;
        margin: 0;
    }


    #services section.tease-line code.tagline {
            background: var(--color-primary);
            font-size: calc(var(--font-xxs) + 2vmin);
            padding: 2px 4px 2px 2px;
            margin-left: 9vmin;
    }
    #services section.tease-line code.tagline span.cursor {
        animation: text-cursor 1s;
        animation-iteration-count: infinite;
    }




    
/* HOW-IT-WORKS */
	#services section.how-it-works div.background {
		background-color: var(--color-white);
	}
	#services section.how-it-works div.flex-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#services section.how-it-works div.contents-box {
		min-width: 320px;
		width: 100%;
		padding: calc(var(--default-padding) * 2);
		display: flex;
		flex-direction: column;
	}
	#services section.how-it-works div.inner-box {
		min-width: calc(320px - calc(var(--default-padding) * 2);
		width: 60%;
		padding: 0 0 var(--default-padding);
	}
	#services section.how-it-works div.contents-box:nth-child(even) div.inner-box {
		align-self: flex-end;
		text-align: right;
	}
	#services section.how-it-works div.contents-box img {
		width: 100px;
	}
	#services section.how-it-works div.bottom-bar {
		position: relative;
		right: 40%;
		width: 100%;
		height: 15px;
		background-color: var(--color-light-grey);
	}
	#services section.how-it-works div.contents-box:nth-child(even) div.bottom-bar {
		right: -40%;
	}




/* PRICING */
	#services section.pricing div.background {
		background-color: var(--color-white);
	}