/* COLORS & FONTS */
	.color-primary {
		color: var(--color-primary);
	}
	.color-secondary {
		color: var(--color-secondary);
	}
	.color-tertiary {
		color: var(--color-tertiary);
	}
	.color-black {
		color: var(--color-black);
	}
	.color-dark-grey {
		color: var(--color-dark-grey);
	}
	.color-light-grey {
		color: var(--color-light-grey);
	}
	.color-white {
		color: var(--color-white);
	}
	.background-color-primary {
		background-color: var(--color-primary);
	}
	.background-color-secondary {
		background-color: var(--color-secondary);
	}
	.background-color-tertiary {
		background-color: var(--color-tertiary);
	}
	.background-color-black {
		background-color: var(--color-black);
	}
	.background-color-dark-grey {
		background-color: var(--color-dark-grey);
	}
	.background-color-light-grey {
		background-color: var(--color-light-grey);
	}
	.background-color-white {
		background-color: var(--color-white);
	}
	.tint-1 {
		background-color: rgba(1, 1, 1, 0.1);
	}
	.tint-2 {
		background-color: rgba(1, 1, 1, 0.2);
	}
	.tint-3 {
		background-color: rgba(1, 1, 1, 0.3);
	}
	.tint-4 {
		background-color: rgba(1, 1, 1, 0.4);
	}
	.tint-5 {
		background-color: rgba(1, 1, 1, 0.5);
	}
	.tint-6 {
		background-color: rgba(1, 1, 1, 0.6);
	}
	.tint-7 {
		background-color: rgba(1, 1, 1, 0.7);
	}
	.tint-8 {
		background-color: rgba(1, 1, 1, 0.8);
	}
	.tint-9 {
		background-color: rgba(1, 1, 1, 0.9);
	}
	.font-primary {
		font-family: var(--font-primary);
		font-weight: var(--font-weight-primary);
	}
	.font-secondary {
		font-family: var(--font-primary);
		font-weight: var(--font-weight-secondary);
	}
	.font-tertiary {
		font-family: var(--font-primary);
		font-weight: var(--font-weight-tertiary);
	}
	.font-xxs {
		font-size: var(--font-xxs);
	}
	.font-xs {
		font-size: var(--font-xs);
	}
	.font-s {
		font-size: var(--font-s);
	}
	.font-m {
		font-size: var(--font-m);
	}
	.font-l {
		font-size: var(--font-l);
	}
	.font-xl {
		font-size: var(--font-xl);
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.text-center {
		text-align: center;
	}
	.text-justify {
		text-align: justify;
	}
	.bold {
		font-weight: 800;
	}
	.italic {
		font-style: italic;
	}
	.underline {
		text-decoration: underline;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.letter-spacing-1vmin {
		letter-spacing: 1vmin;
		padding-left: 1vmin;
	}
/* CONTAINERS ETC. */
	.relative {
		position: relative;
	}
	.absolute {
		position: absolute;
	}
	.top-0 {
		top: 0;
	}
	.right-0 {
		right: 0;
	}
	.bottom-0 {
		bottom: 0;
	}
	.left-0 {
		left: 0;
	}
	.overflow-hidden {
		overflow: hidden;
	}
	.block {
		display: block;
	}
	.inline {
		display: inline;
	}
	.inline-block {
		display: inline-block;
	}
	.flex {
		display: flex;
	}
	.flex-col {
		flex-direction: column;
	}
	.flex-row {
		flex-direction: row;
	}
	.jc-start {
		justify-content: flex-start;
	}
	.jc-end {
		justify-content: flex-end;
	}
	.jc-center {
		justify-content: center;
	}
	.jc-space-between {
		justify-content: space-between;
	}
	.jc-space-around {
		justify-content: space-around;
	}
	.jc-space-evenly {
		justify-content: space-evenly;
	}
	.ai-start {
		align-items: flex-start;
	}
	.ai-end {
		align-items: flex-end;
	}
	.ai-center {
		align-items: center;
	}
	.flex-wrap {
		flex-wrap: wrap;
	}
	.flex-nowrap {
		flex-wrap: nowrap;
	}
	.flex-grow-1 {
		flex-grow: 1;
	}
	.flex-basis-full {
		flex-basis: 100%;
	}
	.flex-basis-half {
		flex-basis: 50%;
	}
	.flex-basis-third {
		flex-basis: 33%;
	}
	.flex-basis-quarter {
		flex-basis: 25%;
	}
	.w-100 {
		width: 100%;
	}
	.h-100 {
		height: 100%;
	}
	.w-auto {
		width: auto;
	}
	.h-auto {
		height: auto;
	}
	.background-no-repeat {
		background-repeat: no-repeat;
	}
	.background-cover {
		background-size: cover;
	}
    .background-center {
    	background-position: center;
    }
    .padding-0 {
    	padding: 0;
    }
    .padding-top-0 {
    	padding-top: 0;
    }
    .padding-right-0 {
    	padding-right: 0;
    }
    .padding-bottom-0 {
    	padding-bottom: 0;
    }
    .padding-left-0 {
    	padding-left: 0;
    }
    .default-padding {
    	padding: var(--default-padding);
    }
    .default-padding-top {
    	padding-top: var(--default-padding);
    }
    .default-padding-right {
    	padding-right: var(--default-padding);
    }
    .default-padding-bottom {
    	padding-bottom: var(--default-padding);
    }
    .default-padding-left {
    	padding-left: var(--default-padding);
    }
    .default-padding-double {
    	padding: calc(var(--default-padding) * 2);
    }
    .default-padding-top-double {
    	padding-top: calc(var(--default-padding) * 2);
    }
    .default-padding-right-double {
    	padding-right: calc(var(--default-padding) * 2);
    }
    .default-padding-bottom-double {
    	padding-bottom: calc(var(--default-padding) * 2);
    }
    .default-padding-left-double {
    	padding-left: calc(var(--default-padding) * 2);
    }
    .margin-0 {
    	margin: 0;
    }
    .margin-top-0 {
    	margin-top: 0;
    }
    .margin-right-0 {
    	margin-right: 0;
    }
    .margin-bottom-0 {
    	margin-bottom: 0;
    }
    .margin-left-0 {
    	margin-left: 0;
    }
    .default-margin {
    	margin: var(--default-padding);
    }
    .default-margin-top {
    	margin-top: var(--default-padding);
    }
    .default-margin-right {
    	margin-right: var(--default-padding);
    }
    .default-margin-bottom {
    	margin-bottom: var(--default-padding);
    }
    .default-margin-left {
    	margin-left: var(--default-padding);
    }
    .default-margin-double {
    	margin: calc(var(--default-padding) * 2);
    }
    .default-margin-top-double {
    	margin-top: calc(var(--default-padding) * 2);
    }
    .default-margin-right-double {
    	margin-right: calc(var(--default-padding) * 2);
    }
    .default-margin-bottom-double {
    	margin-bottom: calc(var(--default-padding) * 2);
    }
    .default-margin-left-double {
    	margin-left: calc(var(--default-padding) * 2);
    }
