:root {
	/* COLORS & FONTS */
		--color-primary: #33CCFF;
		--color-secondary: #333333;
		--color-tertiary: #CCCCCC;
		--color-black: #333333;
		--color-dark-grey: #666666;
		--color-light-grey: #CCCCCC;
		--color-white: #FFFFFF;
		--font-primary: 'Dosis-ExtraBold', Sans-Serif;
		--font-primary-weight: 800;
		--font-secondary: 'Quicksand-Regular', Sans-Serif;
		--font-secondary-weight: 800;
		--font-tertiary: 'Quicksand-Regular', Sans-Serif;
		--font-tertiary-weight: 400;
		--font-xxs: 0.5rem;
		--font-xs: 1rem;
		--font-s: 1.167rem;
		--font-m: 1.5rem;
		--font-l: 2rem;
		--font-xl: 3rem;
}



:root {

	/* NAVBARS */
		/* ALL NAVBARS */
			--navbar-font-family: var(--font-primary);
			--navbar-font-size: var(--font-m);
			--navbar-color: var(--color-black);
			--navbar-word-spacing: 2.5px; /* 'normal' or '[value]' */
			--navbar-letter-spacing: normal; /* 'normal' or '[value]' */
			--navbar-submenu-font-family: var(--font-primary);
			--navbar-submenu-font-size: var(--font-xs);
			--navbar-submenu-color: var(--color-dark-grey);
			--navbar-hover-color: var(--color-primary);
			--navbar-current-page-color: var(--navbar-hover-color);
			--navbar-menu-icon-bgcolor: var(--color-black);
			--navbar-slider-bgcolor: var(--header-bgcolor);
		/* BUTTONS SIMPLE & BUTTONS UNDERLINE */
			--navbar-submenu-bgcolor: var(--color-white);
			--navbar-submenu-box-shadow: var(--box-shadow-bottom); /* 'none' or '[var(--)]' */
		/* BUTTONS UNDERLINE */
			--navbar-buttons-underline-thickness: 2px;
			--navbar-buttons-underline-color: var(--navbar-hover-color);
			--navbar-current-page-underline-color: var(--navbar-buttons-underline-color);
		/* BUTTONS BLOCK */
			--navbar-buttons-bgcolor: var(--color-white);
			--navbar-buttons-border-thickness: 2px;
			--navbar-buttons-border-radius: 500px;
			--navbar-buttons-border-color: var(--color-black);
			--navbar-submenu-buttons-bgcolor: var(--navbar-buttons-bgcolor);
			--navbar-submenu-buttons-border-color: var(--color-dark-grey);
			--navbar-current-page-border-color: var(--navbar-current-page-color);
			--navbar-buttons-border-hover-color: var(--navbar-hover-color);
			--navbar-buttons-box-shadow: var(--box-shadow-bottom-right); /* 'none' or '[var(--)]' */
	/* FOOTER */
		--footer-logo-width: 50px;
		--footer-logo-name-color: var(--logo-name-color);
		--footer-logo-name-font-family: var(--logo-name-font-family);
		--footer-logo-name-font-size: 25px;
		--footer-logo-name-word-spacing: normal; /* 'normal' or '[value]' */
		--footer-logo-name-letter-spacing: 5px; /* 'normal' or '[value]' */
}