section.webpage-topper div.background {
	background-color: var(--color-black);
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
}
section.webpage-topper div.tint {
	background-color: rgba(1, 1, 1, 0.8);
}
section.webpage-topper div.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}
section.webpage-topper div.contents-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
section.webpage-topper div.text-contents-container {
	padding: calc(var(--default-padding) * 2);
	flex-basis: 50%;
	flex-grow: 1;
	min-width: 300px;
	max-width: 500px;
}
section.webpage-topper img.image-icon {
	height: auto;
	min-width: 100px;
	max-width: 200px;
}