<!DOCTYPE html>
<html lang="en-us">

<head>

	<!-- META TAGS -->

		<!-- Meta Tag are referenced from scrollif-assets and populated using Site Variables from _congif.yml and page's YAML Front Matter -->

			{% capture meta-tags-html %}
				{% remote_include https://scrollif-assets.netlify.app/websites/html/meta-tags.html %}
			{% endcapture %}

			{{ meta-tags-html | liquify }}

	<!-- ASSETS --> 

		<!-- Local CSS files stored in _partials folder along with external CSS files from scrollif-assets are compiled into a single CSS file (concatenated.scss) before being processed, minimising HTTP requests -->

			<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/concatenated.css"/>
		
		<!-- Base JS Library from Google APIs -->

			
		
		<!-- External JS scripts from scrollif-assets are compiled into a single JS script (concatenated.js) before being processed, minimising HTTP requests -->

			<script src="{{ site.url }}/assets/js/concatenated.js" type="text/javascript"></script>
		

	<!-- STYLES -->

		<!-- Declare site URL as a base and use additional fragments in CSS URL declarations (CSS / Sass does not support site level liquid tags or CSS Variables in URL declarations) -->

			<base href="{{ site.url }}" />

</head>

<body class="no-js"> <!-- "no-js" class is removed using JS on document ready state, CSS classes Prepended with "body.no-js" are added as fallbacks where JS is used for browsers or use cases where JS is not allowed to run by default. -->

	<!-- LOADING-SCREEN -->

    	{% remote_include https://scrollif-assets.netlify.app/websites/components/loading-screen/html/loading-screen.html %}

    <!-- CONTENT -->

		{% include header.html %}    

		<div class="header-offset" id="top-of-page">
		</div>

		{{ content }} 

		{% if page.hide-contact-form != %}
			{% include contact-form.html %}
		{% endif %}

		{% include footer.html %}  

	<!-- POWERED-BY SCROLL IF -->

		<!-- Re-parse the remote asset from scrollif-assetsusing the liquify filter to popuplate the current year into the remotely inluded content -->

			{% capture powered-by-scroll-if-html %}
				{% remote_include https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/html/powered-by-scroll-if.html %}
			{% endcapture %}

			{{ powered-by-scroll-if-html | liquify }}

</body>

</html> 